<header class="header header--orange">
  <div class="header-box">
    <div class="info">
      <a href="./" class="info__link">
        <span><i class="f-ico i-info"></i></span>
      </a>
      <div class="info__text">Ограниченный доступ <a href="">выйти</a></div>
    </div>
    <div class="window-size">
      <div class="form-group"><input type="text" class="form-control" placeholder="800px"></div>
      <div class="form-group-divider">&#215;</div>
      <div class="form-group"><input type="text" class="form-control" placeholder="600px"></div>
    </div>
    <nav class="user">
      <ul class="user-menu">

        <li class="user-menu__item">
          <a class="user-menu__link message" href="support3.html" title="Для вас есть новые сообщения и уведомления">
            <span class="user-menu__icon"><i class="f-ico i-message"></i><span class="label">у вас есть новые уведомления</span></span>
            <span class="user-menu__text">Техническая поддержка</span>
          </a>
        </li>

        <li class="user-menu__item">
          <a class="user-menu__link user" href="settings-account.html">
            <span class="user-menu__text">moof37@yandex.ru</span>
          </a>
        </li>

      </ul>
    </nav>
  </div>
</header>
