<div class="main">
  <div class="wrapper">
    <div class="content">
      <h2>Настройки работы системы</h2>
    </div><!-- /.content -->
    <div class="settings-list">
      <div class="foldable">

        <div class="foldable__item">
          <div class="foldable-box">
            <div class="foldable__header">
              <div class="foldable-name">
                <span>Стратегия привлечения посетителей</span>
                <span class="foldable-name__help-text">Эфективная стратегия</span>
              </div><!-- /.foldable-name -->
              <div class="foldable-status">
                <span><i class="f-ico i-chevron"></i></span>
              </div><!-- /.foldable-status -->
            </div><!-- /.foldable__header -->
            <div class="foldable__content">

            </div><!-- /.foldable__content -->
          </div><!-- /.foldable-box -->
        </div><!-- /.foldable__item -->

        <div class="foldable__item">
          <div class="foldable-box">
            <div class="foldable__header">
              <div class="foldable-name">
                <span>Счётчики</span>
                <span class="foldable-name__help-text">Подключена Яндекс.Метрика</span>
              </div><!-- /.foldable-name -->
              <div class="foldable-status">
                <span><i class="f-ico i-chevron"></i></span>
              </div><!-- /.foldable-status -->
            </div><!-- /.foldable__header -->
            <div class="foldable__content">

            </div><!-- /.foldable__content -->
          </div><!-- /.foldable-box -->
        </div><!-- /.foldable__item -->

        <div class="foldable__item">
          <div class="foldable-box">
            <div class="foldable__header">
              <div class="foldable-name">
                <span>Регион продвижения</span>
                <span class="foldable-name__help-text">Республика Мордовия</span>
              </div><!-- /.foldable-name -->
              <div class="foldable-status">
                <span><i class="f-ico i-chevron"></i></span>
              </div><!-- /.foldable-status -->
            </div><!-- /.foldable__header -->
            <div class="foldable__content">

            </div><!-- /.foldable__content -->
          </div><!-- /.foldable-box -->
        </div><!-- /.foldable__item -->

        <div class="foldable__item">
          <div class="foldable-box">
            <div class="foldable__header">
              <div class="foldable-name">
                <span>Расписание показа контекстной рекламы</span>
                <span class="foldable-name__help-text">Пользовательская настройка</span>
              </div><!-- /.foldable-name -->
              <div class="foldable-status">
                <span><i class="f-ico i-chevron"></i></span>
              </div><!-- /.foldable-status -->
            </div><!-- /.foldable__header -->
            <div class="foldable__content">

            </div><!-- /.foldable__content -->
          </div><!-- /.foldable-box -->
        </div><!-- /.foldable__item -->

        <div class="foldable__item">
          <div class="foldable-box">
            <div class="foldable__header">
              <div class="foldable-name">
                <span>Контактные данные организации</span>
                <span class="foldable-name__help-text">SeoPult, Россия, Москва, ул. Свободы 50, оф.1, 8-800-555-66-77, info@seopult.ru, skype: seopult</span>
              </div><!-- /.foldable-name -->
              <div class="foldable-status">
                <span><i class="f-ico i-chevron"></i></span>
              </div><!-- /.foldable-status -->
            </div><!-- /.foldable__header -->
            <div class="foldable__content">

            </div><!-- /.foldable__content -->
          </div><!-- /.foldable-box -->
        </div><!-- /.foldable__item -->

        <div class="foldable__item">
          <div class="foldable-box">
            <div class="foldable__header">
              <div class="foldable-name">
                <span>Лицензии и сертификаты на товары и услуги</span>
                <span class="foldable-name__help-text">Нет загруженных файлов</span>
              </div><!-- /.foldable-name -->
              <div class="foldable-status">
                <span><i class="f-ico i-chevron"></i></span>
              </div><!-- /.foldable-status -->
            </div><!-- /.foldable__header -->
            <div class="foldable__content">

            </div><!-- /.foldable__content -->
          </div><!-- /.foldable-box -->
        </div><!-- /.foldable__item -->

        <div class="foldable__item">
          <div class="foldable-box">
            <div class="foldable__header">
              <div class="foldable-name">
                <span>Дополнительные настройки</span>
                <span class="foldable-name__help-text"></span>
              </div><!-- /.foldable-name -->
              <div class="foldable-status">
                <span><i class="f-ico i-chevron"></i></span>
              </div><!-- /.foldable-status -->
            </div><!-- /.foldable__header -->
            <div class="foldable__content">

            </div><!-- /.foldable__content -->
          </div><!-- /.foldable-box -->
        </div><!-- /.foldable__item -->

      </div><!-- /.foldable -->
    </div><!-- /.settings-list -->
  </div><!-- /.wrapper -->
</div><!-- /.main -->
