<div class="hello">
  <div class="wrapper">

    <div class="row row-border">
      <div class="col-xs">
        <h1>Привлечение клиентов из интернета</h1>
        <p>Данный программный комплекс, позволяет автоматизировать все этапы работы по продвижению сайтов и ведению контекстных кампаний. Благодаря применению оптимальных схем и постоянного мониторинга система позволяет достигать максимальных результатов при минимальных бюджетах.</p>
        <div class="block-btn"><a href="" class="btn btn-blue btn-normal">Начать привлечение</a></div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs">
        <h2>Инструменты которые использует система</h2>
        <div class="row row-border">
          <div class="col-xs">
            <p><strong>Контекстные объявления</strong>&nbsp;&mdash; это объявления, которые показываются в&nbsp;соответсвии с&nbsp;поисковыми запросами в&nbsp;Яндекс и&nbsp;Google.</p>
            <div class="example">
              <div class="example-box">
                <div class="demo-ppc">
                  <div class="demo-ppc__box">
                    <div class="demo-ppc_search"><span class="demo-ppc_search-icon"><include src="../../../images/svg/loupe-mini.svg"></include></span><span>поиск</span></div>
                    <div class="demo-ppc_blocks">
                      <div class="demo-ppc_block"></div>
                      <div class="demo-ppc_block"></div>
                      <div class="demo-ppc_block"></div>
                    </div>
                    <div class="demo-ppc_text">результаты поиска</div>
                    <div class="demo-ppc_blocks">
                      <div class="demo-ppc_block demo-ppc_block--bg"></div>
                      <div class="demo-ppc_block demo-ppc_block--bg"></div>
                      <div class="demo-ppc_block demo-ppc_block--bg"></div>
                    </div>
                    <div class="dots dots--mini">
                      <div class="dots__item dots__item--select"><span>1</span></div>
                      <div class="dots__item dots__item--select"><span>2</span></div>
                      <div class="dots__item dots__item--select"><span>3</span></div>
                      <div class="dots__item"><span>4</span></div>
                      <div class="dots__item"><span>5</span></div>
                    </div>
                  </div><!-- /.demo-ppc__box -->
                </div><!-- /.demo-ppc -->
              </div>
              <div class="list">
                <ul class="check-list">
                  <li class="check-list__item">Моментальный результат после запуска кампании</li>
                  <li class="check-list__item">Автоматическая генерация объявлений на основе конкурентов</li>
                  <li class="check-list__item">Мониторинг и корректировка цены для сохранения выгодной позиции и экономии средств</li>
                </ul>
              </div><!-- /.list -->
            </div><!-- /.example -->
          </div>
          <div class="col-xs">
            <p><strong>Поисковое продвижение</strong>&nbsp;&mdash; это методы по&nbsp;улучшению сайта для повышения его позиций в&nbsp;поисковых системах: Яндекс, Google и&nbsp;Mail.</p>
            <div class="example">
              <div class="example-box">
                <div class="demo-ppc demo-ppc--search-mod">
                  <div class="demo-ppc__box">
                    <div class="demo-ppc_search"><span class="demo-ppc_search-icon"><include src="../../../images/svg/loupe-mini.svg"></include></span><span>поиск</span></div>
                    <div class="demo-ppc_text">контекстные объявления</div>
                    <div class="demo-ppc_blocks">
                      <div class="demo-ppc_block demo-ppc_block--bg"></div>
                      <div class="demo-ppc_block demo-ppc_block--bg"></div>
                      <div class="demo-ppc_block demo-ppc_block--bg"></div>
                      <div class="demo-ppc_block demo-ppc_block--bg"></div>
                      <div class="demo-ppc_block demo-ppc_block--bg"></div>
                    </div>
                    <div class="demo-ppc_text">контекстные объявления</div>
                    <div class="dots dots--mini">
                      <div class="dots__item dots__item--select"><span>1</span></div>
                      <div class="dots__item"><span>2</span></div>
                      <div class="dots__item"><span>3</span></div>
                      <div class="dots__item"><span>4</span></div>
                      <div class="dots__item"><span>5</span></div>
                    </div>
                  </div><!-- /.demo-ppc__box -->
                </div><!-- /.demo-ppc -->
              </div>
              <div class="list">
                <ul class="check-list">
                  <li class="check-list__item">Моментальный результат после запуска кампании</li>
                  <li class="check-list__item">Автоматическая генерация объявлений на основе конкурентов</li>
                  <li class="check-list__item">Мониторинг и корректировка цены для сохранения выгодной позиции и экономии средств</li>
                </ul>
              </div><!-- /.list -->
            </div><!-- /.example -->
          </div>
        </div>
      </div>
    </div>

    <div class="row row-border row-small">
      <div class="col-xs">
        <h2>Сравнение инструментов</h2>
        <div class="row">
          <div class="col-xs">
            <p><strong>Контекстные объявления</strong> дают моментальный приток посетителей на&nbsp;ваш сайт, т.к. рекламные сообщения начинают отображаться сразу после запуска кампании.</p>
            <div class="graph-full" style="margin-bottom: 14px;"></div>
            <p>Контекстные объявления имеют относительно высокую стоимость привлечения одного посетителя, из-за большого числа компаний желающих показать своё объявление.</p>
          </div>
          <div class="col-xs">
            <p><strong>Поисковое продвижение</strong> происходит путём улучшения видимости поисковыми системами вашего сайта. Этот процесс происходит постепенно и&nbsp;имеет долгосрочный эффект</p>
            <div class="graph-full" style="margin-bottom: 14px;"></div>
            <p>На&nbsp;начальном этапе поискового продвижения, необходимо нарастить ссылочную массу. После индексации ключевых слов, стоимость продвижения снижается, и&nbsp;средства расходуются только на&nbsp;поддержание занятых позиций</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-border">
      <div class="col-xs">
        <h2>Почему пользователи выбирают автоматизацию процессов</h2>
        <div class="row">
          <div class="col-xs">

            <div class="hello-header">
              <div class="hello-header__icon">
                <span><include src="../../../images/svg/time.svg"></include></span>
              </div>
              <div class="hello-header__name">Экономия времени</div>
            </div>
            <p>Автоматизация сложных и&nbsp;рутиных процесов, а&nbsp;так&nbsp;же рекомендации системы, дадут возможность запустить вашу рекламную кампанию за&nbsp;считанные минуты.</p>

          </div>
          <div class="col-xs">

            <div class="hello-header">
              <div class="hello-header__icon">
                <span><include src="../../../images/svg/piggy.svg"></include></span>
              </div>
              <div class="hello-header__name">Экономия средств</div>
            </div>
            <p>Исключение ручного труда и&nbsp;посредников: экспертиза лидера рынка позволит вам сэкономить до&nbsp;50% стоимости привлечения клиентов.</p>

          </div>
          <div class="col-xs">

            <div class="hello-header">
              <div class="hello-header__icon">
                <span><include src="../../../images/svg/people.svg"></include></span>
              </div>
              <div class="hello-header__name">Экономия ресурсов</div>
            </div>
            <p>Больше нет необходимости держать в&nbsp;штате специалиста или обращаться в&nbsp;профессиональное агентство. А&nbsp;в&nbsp;сложных ситуациях вам всегда поможет
              <a href="#">служба поддержки</a>.</p>

          </div>
        </div>
      </div>
    </div>

    <div class="row row-btn">
      <div class="col-xs">

        <div class="block-btn">
          <a href="#" class="btn btn-blue btn-normal">Начать привлечение</a>
        </div>

      </div>
    </div>

  </div><!-- /.wrapper -->
</div><!-- /.hello -->
