<div class="project-progress">
  <div class="project-progress__step @@addproject">
    <div class="project-progress-counter"><span>1</span></div>
    <div class="project-progress-name">Создание проекта</div>
  </div>
  <div class="project-progress__step @@words2">
    <div class="project-progress-counter"><span>2</span></div>
    <div class="project-progress-name">Создание рекламной кампании</div>
  </div>
  <div class="project-progress__step @@payandstart">
    <div class="project-progress-counter"><span>3</span></div>
    <div class="project-progress-name">Оплата и запуск</div>
  </div>
</div>
