<div class="main">
  <div class="wrapper">
    <div class="content">
      <h2>Инструкции по работе с системой</h2>
    </div>

    <div class="instructions">

      <div class="foldable">

        <div class="foldable__item">
          <div class="foldable-box">
            <div class="foldable__header">
              <div class="foldable-name">
                <span>Чем отличаются Контекстная реклама от Поискового продвижения?</span>
              </div><!-- /.foldable-name -->
              <div class="foldable-status">
                <span><i class="f-ico i-chevron"></i></span>
              </div><!-- /.foldable-status -->
            </div><!-- /.foldable__header -->
            <div class="foldable__content">

            </div><!-- /.foldable__content -->
          </div><!-- /.foldable-box -->
        </div><!-- /.foldable__item -->

        <div class="foldable__item">
          <div class="foldable-box">
            <div class="foldable__header">
              <div class="foldable-name">
                <span>Выбор региона</span>
              </div><!-- /.foldable-name -->
              <div class="foldable-status">
                <span><i class="f-ico i-chevron"></i></span>
              </div><!-- /.foldable-status -->
            </div><!-- /.foldable__header -->
            <div class="foldable__content">

            </div><!-- /.foldable__content -->
          </div><!-- /.foldable-box -->
        </div><!-- /.foldable__item -->

        <div class="foldable__item">
          <div class="foldable-box foldable-box--expand">
            <div class="foldable__header">
              <div class="foldable-name">
                <span>Ключевые слова</span>
              </div><!-- /.foldable-name -->
              <div class="foldable-status">
                <span><i class="f-ico i-chevron"></i></span>
              </div><!-- /.foldable-status -->
            </div><!-- /.foldable__header -->
            <div class="foldable__content">
              <p>Ключевые слова – это слова и фразы, которые используют ваши потенциальные клиенты, что бы найти товары или услуги в поисковых системах (Яндекс, Google и др.). Обычно, это названия товаров или услуг, бренды - по этим словам пользователи поисковых систем будут находить ссылки на ваш сайт в результатах поиска и переходить по ним.</p>

              <div class="idea">
                <div class="idea__icon">
                  <span><i class="f-ico i-recommendation orange"></i></span>
                </div><!-- /.idea__icon -->
                <div class="idea__text">
                  <p>Ключевые слова должны соответствовать предложению, на страницах сайта. Если посетитель не найдет на странице ожидаемой информации, он покинет ваш сайт и деньги потраченные на рекламу, не принесут прибыли.</p>
                </div><!-- /.idea__text -->
              </div><!-- /.idea -->

              <div class="block-btn">
                <a href="#" class="btn btn-outline">Задать вопрос</a>
              </div>
            </div><!-- /.foldable__content -->
          </div><!-- /.foldable-box -->
        </div><!-- /.foldable__item -->

        <div class="foldable__item">
          <div class="foldable-box">
            <div class="foldable__header">
              <div class="foldable-name">
                <span>И ещё немного специально написанного текста, чтобы получилось несколько строк для наглядности</span>
              </div><!-- /.foldable-name -->
              <div class="foldable-status">
                <span><i class="f-ico i-chevron"></i></span>
              </div><!-- /.foldable-status -->
            </div><!-- /.foldable__header -->
            <div class="foldable__content">

            </div><!-- /.foldable__content -->
          </div><!-- /.foldable-box -->
        </div><!-- /.foldable__item -->

      </div><!-- /.foldable -->

    </div><!-- /.instructions -->

  </div>
</div>
