<div class="main">
  <div class="wrapper">

    <div class="content">
      <div class="content-header">
        <h2>Ссылки на слово «Купить леопардовый плед»</h2>
      </div><!-- /.content-header -->
    </div><!-- /.content -->

    <div class="table-content">

      <table class="table table-words">
        <thead>
          <tr>
            <th width="90">
            </th>
            <th width="333">
              <span class="table_name">Анкор ссылки</span>
              <span class="table_name-help">Сайт-донор</span>
            </th>
            <th class="text-right">
              <span class="table_name">Дата размещения</span>
              <span class="table_name-help">Ссылки</span>
            </th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <td>
              <div class="td-controls">
                <div class="form-check form-check--light">
                  <input type="checkbox" name="group2" id="check1">
                  <label for="check1">
                    <span class="form-check-control"></span>
                  </label>
                </div>
                <div class="icon">
                  <span class="table_icon"><i class="f-ico i-ok-good green"></i></span>
                </div>
              </div>
            </td>
            <td>
              <span class="table_name">Бизнес идеи</span>
              <span class="table_name-help">seopult.ru/big/lol/mega/job/wtf/url-olol-page-metro-seo</span>
            </td>

            <td class="text-right">27 февраля 2017</td>
          </tr>

          <tr>
            <td>
              <div class="td-controls">
                <div class="form-check form-check--light">
                  <input type="checkbox" name="group2" id="check2" checked>
                  <label for="check2">
                    <span class="form-check-control"></span>
                  </label>
                </div>
                <div class="icon">
                  <span class="table_icon"><i class="f-ico i-pause red"></i></span>
                </div>
              </div>
            </td>
            <td>
              <span class="table_name">Бизнес идеи</span>
              <span class="table_name-help">seopult.ru/big/lol/mega/job/wtf/url-olol-page-metro-seo</span>
            </td>

            <td class="text-right">27 февраля 2017</td>
          </tr>

          <tr>
            <td>
              <div class="td-controls">
                <div class="form-check form-check--light">
                  <input type="checkbox" name="group2" id="check3" checked>
                  <label for="check3">
                    <span class="form-check-control"></span>
                  </label>
                </div>
                <div class="icon">
                  <span class="table_icon"><i class="f-ico i-ok-good green"></i></span>
                </div>
              </div>
            </td>
            <td>
              <span class="table_name">Бизнес идеи</span>
              <span class="table_name-help">seopult.ru/big/lol/mega/job/wtf/url-olol-page-metro-seo</span>
            </td>

            <td class="text-right">27 февраля 2017</td>
          </tr>

        </tbody>
      </table>

      <div class="table-content_control">
        <div class="table-content_control_box">
          <div class="col-xs-6">
            <div class="select select-support-subject">
              <select class="form-control">
                <option value="1">Отмеченные удалить и не покупать на этом доноре</option>
                <option value="2">Ещё как-то действовать</option>
                <option value="3">Ещё как-то действовать</option>
                <option value="4">Ещё как-то действовать</option>
              </select>
            </div><!-- /.select -->
          </div>
          <div class="col-xs-6">
            <div class="select-actions">
              <a href="" class="btn">Применить ко всем</a>
              <!--<a href="" class="btn btn-orange">Инвертировать выбранное</a>-->
            </div>
          </div>
        </div>
      </div>

    </div><!-- /.table-content -->

  </div><!-- /.wrapper -->
</div><!-- /.main -->
