<tbody class="">
<tr class="parent">
  <td>
    <div class="form-check form-check--light">
      <input type="checkbox" name="group2" id="check4" checked>
      <label for="check4">
        <span class="form-check-control"></span>
      </label>
    </div>
  </td>
  <td>
    <span class="table_name">@@keyword</span>
    <span class="table_name-help">@@keywordurl</span>
  </td>
  <td>
    <div class="dots">
      <div class="dots__item dots__item--select"><span>1</span></div>
      <div class="dots__item dots__item--select"><span>2</span></div>
      <div class="dots__item dots__item--select"><span>3</span></div>
      <div class="dots__item"><span>4</span></div>
      <div class="dots__item"><span>5</span></div>
    </div>
  </td>
  <td class="text-right">
    <div class="forecast">
      <span class="forecast__start">190</span>
      <span class="forecast__interval"><i class="f-ico i-arrow"></i></span>
      <span class="forecast__height">9&nbsp;620</span>
    </div>
  </td>
  <td class="text-right balance">4 600</td>
  <td>
    <div class="td-controls">
      <span class="table_icon"><i class="f-ico i-close"></i></span>
      <span class="table_icon controlling">
         <i class="f-ico i-controlling"></i>
         <i class="f-ico i-chevron _controlling-hide"></i>
       </span>
    </div>
  </td>
</tr>
<tr class="children">
  <td colspan="6">
    <div class="keyword_wrapper">
      <div class="keyword_form">
        <div class="form-group">
          <input type="text" id="new-keyword" class="form-control" placeholder="Ввдите свое ключевое слово или адрес страницы" value="seopult.ru/personal_manager">
        </div>
        <!-- /.form-group -->
      </div>
      <!-- /.keyword_form -->
      <div class="keyword_wrapper-row">
        <div class="keyword_wrapper__col">
          <div class="keyword-info">
            <div class="keyword-info__control">
              <div class="keyword-info__control-name">
                <span>Контекстные объявления</span>
              </div>
              <!-- /.keyword-info__control-name -->
              <div class="form-check form-check--light">
                <input type="checkbox" name="group2" id="budget" checked>
                <label for="budget">
                              <span class="form-check-control">
                                 <span class="left-text"><strong>Поисковое продвижение</strong></span>
                                 <span class="form-group">
                                 <input type="text" id="budget-op" class="form-control" placeholder="руб." pattern="^[0-9]+$" value="550">
                                 </span><!-- /.form-group -->
                              </span>
                </label>
              </div>
              <div class="keyword-option_box">
                <div class="keyword-option">
                  <div class="keyword-option__text gray">Наивысшие места</div>
                  <!-- /.keyword-option__text -->
                  <div class="keyword-option__value"><span class="_var-budget">1&nbsp;050</span></div>
                  <!-- /.keyword-option__value -->
                </div>
                <!-- /.keyword-option -->
              </div>
              <!-- /.keyword-option_box -->
              <div class="keyword-option_box">
                <div class="keyword-option">
                  <div class="keyword-option__text gray">Первая страница</div>
                  <!-- /.keyword-option__text -->
                  <div class="keyword-option__value"><span class="_var-budget">992</span></div>
                  <!-- /.keyword-option__value -->
                </div>
                <!-- /.keyword-option -->
              </div>
              <!-- /.keyword-option_box -->
              <div class="keyword-option_box">
                <div class="keyword-option">
                  <div class="keyword-option__text">Гарантированные показы</div>
                  <!-- /.keyword-option__text -->
                  <div class="keyword-option__value"><span class="_var-budget">1&nbsp;129</span></div>
                  <!-- /.keyword-option__value -->
                </div>
                <!-- /.keyword-option -->
              </div>
              <!-- /.keyword-option_box -->
            </div>
            <!-- /.keyword-info__control -->
            <div class="keyword-info__demo">
              <div class="demo-ppc">
                <div class="demo-ppc__box">
                  <div class="demo-ppc_search">
                                 <span class="demo-ppc_search-icon">
                                    <include src="../../../images/svg/loupe-mini.svg"></include>
                                 </span>
                    <span>поиск</span>
                  </div>
                  <div class="demo-ppc_blocks">
                    <div class="demo-ppc_block"></div>
                    <div class="demo-ppc_block"></div>
                    <div class="demo-ppc_block"></div>
                  </div>
                  <div class="demo-ppc_text">результаты поиска</div>
                  <div class="demo-ppc_blocks">
                    <div class="demo-ppc_block demo-ppc_block--bg"></div>
                    <div class="demo-ppc_block demo-ppc_block--bg"></div>
                    <div class="demo-ppc_block demo-ppc_block--bg"></div>
                  </div>
                  <div class="dots dots--mini">
                    <div class="dots__item dots__item--select"><span>1</span></div>
                    <div class="dots__item dots__item--select"><span>2</span></div>
                    <div class="dots__item dots__item--select"><span>3</span></div>
                    <div class="dots__item"><span>4</span></div>
                    <div class="dots__item"><span>5</span></div>
                  </div>
                </div>
                <!-- /.demo-ppc__box -->
              </div>
              <!-- /.demo-ppc -->
            </div>
            <!-- /.keyword-info__demo -->
          </div>
          <!-- /.keyword-info -->
        </div>
        <!-- /.keyword_wrapper__col -->
        <div class="keyword_wrapper__col">
          <div class="keyword-info">
            <div class="keyword-info__control">
              <div class="keyword-info__control-name">
                <span>Поисковое продвижение</span>
              </div>
              <!-- /.keyword-info__control-name -->
              <div class="form-check form-check--light">
                <input type="checkbox" name="group2" id="budget" checked>
                <label for="budget">
                              <span class="form-check-control">
                                 <span class="left-text"><strong>Поисковое продвижение</strong></span>
                                 <span class="form-group">
                                 <input type="text" id="budget-op2" class="form-control" placeholder="руб." pattern="^[0-9]+$" value="550">
                                 </span><!-- /.form-group -->
                              </span>
                </label>
              </div>
              <div class="keyword-option_box">
                <div class="keyword-option">
                  <div class="keyword-option__text gray">Наивысшие места</div>
                  <!-- /.keyword-option__text -->
                  <div class="keyword-option__value"><span class="_var-budget2">1&nbsp;050</span></div>
                  <!-- /.keyword-option__value -->
                </div>
                <!-- /.keyword-option -->
              </div>
              <!-- /.keyword-option_box -->
              <div class="keyword-option_box">
                <div class="keyword-option">
                  <div class="keyword-option__text gray">Первая страница</div>
                  <!-- /.keyword-option__text -->
                  <div class="keyword-option__value"><span class="_var-budget2">992</span></div>
                  <!-- /.keyword-option__value -->
                </div>
                <!-- /.keyword-option -->
              </div>
              <!-- /.keyword-option_box -->
              <div class="keyword-option_box">
                <div class="keyword-option">
                  <div class="keyword-option__text">Гарантированные показы</div>
                  <!-- /.keyword-option__text -->
                  <div class="keyword-option__value"><span class="_var-budget2">1&nbsp;129</span></div>
                  <!-- /.keyword-option__value -->
                </div>
                <!-- /.keyword-option -->
              </div>
              <!-- /.keyword-option_box -->
            </div>
            <!-- /.keyword-info__control -->
            <div class="keyword-info__demo">
              <div class="demo-ppc demo-ppc--search-mod">
                <div class="demo-ppc__box">
                  <div class="demo-ppc_search">
                                 <span class="demo-ppc_search-icon">
                                    <include src="../../../images/svg/loupe-mini.svg"></include>
                                 </span>
                    <span>поиск</span>
                  </div>
                  <div class="demo-ppc_text">контекстные объявления</div>
                  <div class="demo-ppc_blocks">
                    <div class="demo-ppc_block demo-ppc_block--bg"></div>
                    <div class="demo-ppc_block demo-ppc_block--bg"></div>
                    <div class="demo-ppc_block demo-ppc_block--bg"></div>
                    <div class="demo-ppc_block demo-ppc_block--bg"></div>
                    <div class="demo-ppc_block demo-ppc_block--bg"></div>
                  </div>
                  <div class="demo-ppc_text">контекстные объявления</div>
                  <div class="dots dots--mini">
                    <div class="dots__item dots__item--select"><span>1</span></div>
                    <div class="dots__item"><span>2</span></div>
                    <div class="dots__item"><span>3</span></div>
                    <div class="dots__item"><span>4</span></div>
                    <div class="dots__item"><span>5</span></div>
                  </div>
                </div>
                <!-- /.demo-ppc__box -->
              </div>
              <!-- /.demo-ppc -->
            </div>
            <!-- /.keyword-info__demo -->
          </div>
          <!-- /.keyword-info -->
        </div>
        <!-- /.keyword_wrapper__col -->
      </div>
      <!-- /.keyword_wrapper-row -->
    </div>
    <!-- /.keyword_wrapper -->
    <div class="keyword_foldable">
      <div class="foldable foldable--keyword">
        <div class="foldable__item">
          <div class="foldable-box">
            <div class="foldable__header">
              <div class="foldable-name">
                <span>Настройка минус слов</span>
                <span class="foldable-name__help-text"></span>
              </div>
              <!-- /.foldable-name -->
              <div class="foldable-status">
                <span><i class="f-ico i-chevron"></i></span>
              </div>
              <!-- /.foldable-status -->
            </div>
            <!-- /.foldable__header -->
            <div class="foldable__content">
            </div>
            <!-- /.foldable__content -->
          </div>
          <!-- /.foldable-box -->
        </div>
        <!-- /.foldable__item -->
        <div class="foldable__item">
          <div class="foldable-box foldable-box--expand">
            <div class="foldable__header">
              <div class="foldable-name">
                <span>Настройка объявления</span>
                <span class="foldable-name__help-text" data-tooltip="Почему?!!!">
                           <a href="#" class="help-link">
                           <span class="help-link__icon"><i class="f-ico i-info-small"></i></span>
                           <span class="help-link__text">Как правильно составить объявление</span>
                           </a>
                           </span>
              </div>
              <!-- /.foldable-name -->
              <div class="foldable-status">
                <span><i class="f-ico i-chevron"></i></span>
              </div>
              <!-- /.foldable-status -->
            </div>
            <!-- /.foldable__header -->
            <div class="foldable__content">
              <div class="keyword_wrapper-row keyword_wrapper-row_preview">
                <div class="keyword_wrapper__col keyword_wrapper__col--preview">
                  <div class="preview-content preview-content--yandex">
                    <div class="preview-content__box">
                      <div class="preview-content-header">
                        <div class="preview-logo">
                          <span><i class="f-ico i-logo-yandex"></i></span>
                        </div>
                        <div class="preview-slider">
                          <div class="preview-slider-box">
                            <div class="preview-slider-nav preview-slider-nav_left"><span>
                                                <i class="f-ico i-chevron"></i>
                                                </span>
                            </div>
                            <!-- /.preview-slider-nav -->
                            <div class="preview-slider-dots">
                              <div class="preview-slider-dot">1</div>
                              <div class="preview-slider-dot slider-dot--select">2</div>
                              <div class="preview-slider-dot">3</div>
                              <div class="preview-slider-dot">4</div>
                              <div class="preview-slider-dot">5</div>
                            </div>
                            <!-- /.preview-slider-dots -->
                            <div class="preview-slider-nav preview-slider-nav_right"><span>
                                                <i class="f-ico i-chevron"></i>
                                                </span>
                            </div>
                            <!-- /.preview-slider-nav -->
                          </div>
                        </div>
                      </div>
                      <!-- /.preview-content-header -->
                      <div class="preview-content_head">
                        <span>Жалюзи – Скидки в апреле!</span>
                      </div>
                      <!-- /.preview-content_head -->
                      <div class="preview-content_quick-links">
                        <span class="quick-link">Жалюзи на пластиковые окна</span>
                        <span class="quick-link">Вертикальные</span>
                        <span class="quick-link">Горизонтальные</span>
                        <span class="quick-link">Рулонные</span>
                      </div>
                      <!-- /.preview-content_quick-links -->
                      <div class="preview-content_link">
                        <span>jaluzina.ru/Скидки-на-Жалюзи</span>
                        <div class="preview-content_link-bage">Реклама</div>
                      </div>
                      <!-- /.preview-content_link -->
                      <div class="preview-content_text">
                        <span>Мы производим жалюзи. У нас низкие цены. Изготовление от 1 часа. Звоните!</span>
                      </div>
                      <!-- /.preview-content_text -->
                    </div>
                    <!-- /.preview-content__box -->
                  </div>
                  <!-- /.preview-content -->
                </div>
                <!-- /.keyword_wrapper__col -->
                <div class="keyword_wrapper__col keyword_wrapper__col--preview">
                  <div class="preview-content preview-content--google">
                    <div class="preview-content__box">
                      <div class="preview-content-header">
                        <div class="preview-logo">
                          <span><i class="f-ico i-logo-google"></i></span>
                        </div>
                        <div class="preview-slider">
                          <div class="preview-slider-box">
                            <div class="preview-slider-nav nav--hide preview-slider-nav_left"><span><i class="f-ico i-chevron"></i></span></div>
                            <!-- /.preview-slider-nav -->
                            <div class="preview-slider-dots">
                              <div class="preview-slider-dot slider-dot--select">1</div>
                              <div class="preview-slider-dot">2</div>
                              <div class="preview-slider-dot">3</div>
                              <div class="preview-slider-dot">4</div>
                              <div class="preview-slider-dot">5</div>
                            </div>
                            <!-- /.preview-slider-dots -->
                            <div class="preview-slider-nav preview-slider-nav_right"><span><i class="f-ico i-chevron"></i></span></div>
                            <!-- /.preview-slider-nav -->
                          </div>
                        </div>
                      </div>
                      <!-- /.preview-content-header -->
                      <div class="preview-content_head">
                        <span>Жалюзи - Акция</span>
                        &nbsp;-&nbsp;
                        <span>успейте купить - jaluzina.ru</span>
                      </div>
                      <!-- /.preview-content_head -->
                      <div class="preview-content_link">
                        <div class="preview-content_link-bage">Реклама</div>
                        <span>jaluzina.ru/Скидки-на-Жалюзи</span>
                      </div>
                      <!-- /.preview-content_link -->
                      <div class="preview-content_text">
                        <span>Мы производим жалюзи. У нас низкие цены. Изготовление от 1 часа. Звоните!</span>
                      </div>
                      <!-- /.preview-content_text -->
                      <div class="preview-content_quick-links">
                        <span class="quick-link">Жалюзи на пластиковые окна</span>
                        <span class="quick-link">Вертикальные</span>
                        <span class="quick-link">Горизонтальные</span>
                        <span class="quick-link">Рулонные</span>
                      </div>
                      <!-- /.preview-content_quick-links -->
                    </div>
                    <!-- /.preview-content__box -->
                  </div>
                  <!-- /.preview-content -->
                </div>
                <!-- /.keyword_wrapper__col -->
              </div>
              <!-- /.keyword_wrapper-row -->
              <div class="keyword_wrapper-row">
                <div class="btn-group">
                  <a href="words3.html" class="btn btn-outline btn-active">Текст объявления</a>
                  <a href="words3_2.html" class="btn btn-outline">Быстрые ссылки</a>
                </div>
              </div>
              <!-- /.keyword_wrapper-row -->
              <div class="keyword_wrapper-row">
                <div class="keyword_wrapper__col">
                  <div class="form-full">
                    <div class="form-group">
                      <label for="">Заголовок</label>
                      <div class="status-form-control">
                        <input type="text" id="" class="form-control" placeholder="Подсказка о том, что это вообще за поле" value="Жалюзи – Скидки в ап">
                        <span class="status-form-control-type control-type--norm" aria-hidden="true">22</span>
                      </div>
                      <!-- /.form-group__status -->
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                      <label for="">Строка 1</label>
                      <div class="status-form-control">
                        <textarea class="form-control" rows="3" placeholder="Ваше сообщение" style="height: 135px;">Мы производим жалюзи. У нас низкие цены. Изготовление от 1 часа. Звоните!</textarea>
                        <span class="status-form-control-type control-type--norm" aria-hidden="true">2</span>
                      </div>
                      <!-- /.form-group__status -->
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.form-full -->
                </div>
                <!-- /.keyword_wrapper__col -->
                <div class="control-swap"><span><i class="f-ico i-swap"></i></span></div>
                <div class="keyword_wrapper__col">
                  <div class="form-full">
                    <div class="form-group">
                      <label for="">Заголовок</label>
                      <div class="status-form-control">
                        <input type="text" id="" class="form-control" placeholder="Подсказка о том, что это вообще за поле" value="Жалюзи - Акция">
                        <span class="status-form-control-type control-type--norm" aria-hidden="true">22</span>
                      </div>
                      <!-- /.form-group__status -->
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                      <label for="">Строка 2</label>
                      <div class="status-form-control">
                        <input type="text" id="" class="form-control" placeholder="Подсказка о том, что это вообще за поле" value="успейте купить - jaluzina.ru">
                        <span class="status-form-control-type control-type--bad" aria-hidden="true">0</span>
                      </div>
                      <!-- /.form-group__status -->
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                      <label for="">Строка 1</label>
                      <div class="status-form-control">
                        <textarea class="form-control" rows="3" placeholder="Подсказка о том, что это вообще за поле">Мы производим жалюзи. У нас низкие цены. Изготовление от 1 часа. Звоните!</textarea>
                        <span class="status-form-control-type control-type--norm" aria-hidden="true">2</span>
                      </div>
                      <!-- /.form-group__status -->
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.form-full -->
                </div>
                <!-- /.keyword_wrapper__col -->
              </div>
              <!-- /.keyword_wrapper-row -->
              <div class="keyword_wrapper-row">
                <div class="actions-left">
                  <a href="" class="undo"><span class="undo-icon"><i class="f-ico i-refresh"></i></span><span class="undo-text">Сбросить изменения</span></a>
                </div>
                <div class="actions-right">
                  <a href="" class="remove-link"><span class="remove-link-icon"><i class="f-ico i-close"></i></span><span class="remove-link-text">Удалить слово</span></a>
                  <a href="" class="btn btn-blue">Применить</a>
                </div>
              </div>
              <!-- /.keyword_wrapper-row -->
            </div>
            <!-- /.foldable__content -->
          </div>
          <!-- /.foldable-box -->
        </div>
        <!-- /.foldable__item -->
      </div>
      <!-- /.foldable -->
    </div>
    <!-- /.keyword_foldable -->
  </td>
</tr>
</tbody>
