<div class="main">
  <div class="wrapper">

    <div class="table-content">

      <table class="table table-words">
        <thead>
          <tr>
            <th width="60">
              <span class="table_icon" style="visibility: hidden;"><i class="f-ico i-filter"></i></span>
            </th>
            <th width="300">
              <span class="table_name">Ключевое слово</span>
              <span class="table_name-help">Посадочная страница</span>
            </th>
            <th class="text-right" width="">
              <span class="table_name">Яндекс</span>
              <span class="table_name-help">Пизиции</span>
            </th>
            <th class="text-right">
              <span class="table_name">Google</span>
              <span class="table_name-help">Пизиции</span>
            </th>
            <th class="text-right">
              <span class="table_name">Показы</span>
              <span class="table_name-help">За месяц</span>
            </th>
            <th class="text-right">
              <span class="table_name">Переходы</span>
              <span class="table_name-help">За месяц</span>
            </th>
            <th class="text-right">
              <span class="table_name">Бюджет</span>
              <span class="table_name-help">руб / мес</span>
            </th>
            <th width="60"></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <span class="table_icon"><i class="f-ico i-ok-good green"></i></span>
            </td>
            <td>
              <span class="table_name">Бизнес идеи</span>
              <span class="table_name-help">seopult.ru/job</span>
            </td>
            <td class="text-right dynamics-td">75<span class="dynamics red"><i class="f-ico i-dynamics red"></i>9</span></td>
            <td class="text-right dynamics-td">3<span class="dynamics green"><i class="f-ico i-dynamics green up"></i>3</span></td>
            <td class="text-right balance">16 469</td>
            <td class="text-right balance">6 469</td>
            <td class="text-right">1 890</td>
            <td>
              <div class="td-controls">
                <span class="table_icon"><i class="f-ico i-controlling top"></i></span>
                <span class="table_icon"><i class="f-ico i-controlling top"></i></span>
                <span class="table_icon"><i class="f-ico i-recommendation orange"></i></span>
              </div>
            </td>
          </tr>
        </tbody>

        <tbody>
        <tr>
          <td>
            <span class="table_icon"><i class="f-ico i-pause red"></i></span>
          </td>
          <td>
            <span class="table_name">Управление персоналом</span>
            <span class="table_name-help">Объявление не прошло модерацию</span>
          </td>
          <td class="text-right">26</td>
          <td class="text-right">18</td>
          <td class="text-right balance">2 752</td>
          <td class="text-right balance">423</td>
          <td class="text-right">990</td>
          <td>
            <div class="td-controls">
              <span class="table_icon"><i class="f-ico i-controlling top"></i></span>
              <span class="table_icon"><i class="f-ico i-controlling top"></i></span>
              <span class="table_icon"><i class="f-ico i-wrench red"></i></span>
            </div>
          </td>
        </tr>
        </tbody>

        <tbody>
        <tr>
          <td>
            <span class="table_icon"><i class="f-ico i-ok-good green"></i></span>
          </td>
          <td>
            <span class="table_name">Повышение квалификации</span>
            <span class="table_name-help">seopult.ru/job</span>
          </td>
          <td class="text-right">89</td>
          <td class="text-right">6</td>
          <td class="text-right balance">18 335</td>
          <td class="text-right balance">8 336</td>
          <td class="text-right">1 451</td>
          <td>
            <div class="td-controls">
              <span class="table_icon"><i class="f-ico i-controlling top"></i></span>
              <span class="table_icon"><i class="f-ico i-controlling top"></i></span>
              <span class="table_icon"><i class="f-ico i-controlling"></i></span>
            </div>
          </td>
        </tr>
        </tbody>

        <tbody>
        <tr>
          <td>
            <span class="table_icon"><i class="f-ico i-ok-good green"></i></span>
          </td>
          <td>
            <span class="table_name">Бизнес с нуля</span>
            <span class="table_name-help">seopult.ru/job</span>
          </td>
          <td class="text-right">
            <i class="f-ico i-no"></i>
          </td>
          <td class="text-right">3</td>
          <td class="text-right balance">24 619</td>
          <td class="text-right balance">4 211</td>
          <td class="text-right">2 351</td>
          <td>
            <div class="td-controls">
              <span class="table_icon"><i class="f-ico i-controlling top"></i></span>
              <span class="table_icon"><i class="f-ico i-controlling top"></i></span>
              <span class="table_icon"><i class="f-ico i-controlling"></i></span>
            </div>
          </td>
        </tr>
        </tbody>

        <!--  -->

        <tbody class="open">
        <tr class="parent">
          <td>
            <span class="table_icon"><i class="f-ico i-ok-good green"></i></span>
          </td>
          <td>
            <span class="table_name">Бизнес идеи</span>
            <span class="table_name-help">seopult.ru/job</span>
          </td>
          <td class="text-right">15</td>
          <td class="text-right">15</td>
          <td class="text-right balance">35 715</td>
          <td class="text-right balance">5 551</td>
          <td class="text-right">10 241</td>
          <td>
            <div class="td-controls">
              <span class="table_icon"><i class="f-ico i-controlling top"></i></span>
              <span class="table_icon"><i class="f-ico i-controlling top"></i></span>
              <span class="table_icon"><i class="f-ico i-controlling"></i></span>
            </div>
          </td>
        </tr>

        <tr class="children">
          <td colspan="9">
            <div class="keyword_wrapper">
              <div class="keyword_wrapper_header">
                <div class="name-keyword-row">Отчёты по контекстной рекламе</div>
                <div class="btn-group">
                  <a href="#" class="btn btn-outline btn-mini">всё время</a>
                  <a href="#" class="btn btn-outline btn-mini">90 дней</a>
                  <a href="#" class="btn btn-outline btn-mini btn-active">30 дней</a>
                  <a href="#" class="btn btn-outline btn-mini">неделя</a>
                </div>

                <div class="btn-group">
                  <a href="#" class="btn btn-outline btn-mini">28 января <span class="interval"><include src="../../../images/svg/arrow.svg"></include></span> 28 февраля</a>
                </div>
              </div>
              <div class="keyword_wrapper-row" style="padding-left: 0;">
                <div class="keyword_wrapper__col">
                  <h3>Яндекс.Директ</h3>
                  <div class="graph-box graph-yandexs" id="graph-yandex"></div>
                </div><!-- /.keyword_wrapper__col -->

                <div class="keyword_wrapper__col">
                  <h3>Google AdWords</h3>
                  <div class="graph-box graph-googles" id="graph-google"></div>
                </div><!-- /.keyword_wrapper__col -->
              </div><!-- /.keyword_wrapper-row -->
            </div><!-- /.keyword_wrapper -->

          </td>
        </tr>

        <tr class="children" style="background-color: #fff;">
          <td colspan="9" style="border-color: transparent;">
            <table class="table table-no-hover" style="border-color: transparent;">
              <thead>
                <tr>
                  <th width="300" rowspan="2">Дата</th>
                  <th class="text-center" colspan="3" width="300" style="border-bottom: 0;">Контекстная реклама Яндекс</th>
                  <th class="text-center" colspan="3" width="300" style="border-bottom: 0;">Контекстная реклама Google</th>
                </tr>
                <tr>
                  <th class="text-center" width="100"><span class="table_name-help">Показы</span></th>
                  <th class="text-center" width="100"><span class="table_name-help">Клики</span></th>
                  <th class="text-center" width="100"><span class="table_name-help">Кликабельность</span></th>
                  <th class="text-center" width="100"><span class="table_name-help">Показы</span></th>
                  <th class="text-center" width="100"><span class="table_name-help">Клики</span></th>
                  <th class="text-center" width="100"><span class="table_name-help">Кликабельность</span></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>13 июня 2017</td>
                  <td class="text-center">57</td>
                  <td class="text-center">57</td>
                  <td class="text-center">57%</td>
                  <td class="text-center">57</td>
                  <td class="text-center">57</td>
                  <td class="text-center">57%</td>
                </tr>
                <tr>
                  <td>13 июня 2017</td>
                  <td class="text-center">57</td>
                  <td class="text-center">57</td>
                  <td class="text-center">57%</td>
                  <td class="text-center">57</td>
                  <td class="text-center">57</td>
                  <td class="text-center">57%</td>
                </tr>
                <tr>
                  <td>13 июня 2017</td>
                  <td class="text-center">57</td>
                  <td class="text-center">57</td>
                  <td class="text-center">57%</td>
                  <td class="text-center">57</td>
                  <td class="text-center">57</td>
                  <td class="text-center">57%</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>

        <!--  -->

        <tbody class="open">
        <tr class="parent">
          <td>
            <span class="table_icon"><i class="f-ico i-ok-good green"></i></span>
          </td>
          <td>
            <span class="table_name">Бизнес идеи</span>
            <span class="table_name-help">seopult.ru/job</span>
          </td>
          <td class="text-right">15</td>
          <td class="text-right">15</td>
          <td class="text-right balance">35 715</td>
          <td class="text-right balance">5 551</td>
          <td class="text-right">10 241</td>
          <td>
            <div class="td-controls">
              <span class="table_icon"><i class="f-ico i-controlling top"></i></span>
              <span class="table_icon"><i class="f-ico i-controlling top"></i></span>
              <span class="table_icon"><i class="f-ico i-controlling"></i></span>
            </div>
          </td>
        </tr>

        <tr class="children">
          <td colspan="9">
            <div class="keyword_wrapper">
              <div class="keyword_wrapper_header">
                <div class="name-keyword-row">Отчёты по контекстной рекламе</div>
                <div class="btn-group">
                  <a href="#" class="btn btn-outline btn-mini">всё время</a>
                  <a href="#" class="btn btn-outline btn-mini">90 дней</a>
                  <a href="#" class="btn btn-outline btn-mini btn-active">30 дней</a>
                  <a href="#" class="btn btn-outline btn-mini">неделя</a>
                </div>

                <div class="btn-group">
                  <a href="#" class="btn btn-outline btn-mini">28 января <span class="interval"><include src="../../../images/svg/arrow.svg"></include></span> 28 февраля</a>
                </div>
              </div>
              <div class="keyword_wrapper-row" style="padding-left: 0;">
                <div class="graph-box graph-yandexs" id="graph-full"></div>
              </div><!-- /.keyword_wrapper-row -->
            </div><!-- /.keyword_wrapper -->

          </td>
        </tr>

        <tr class="children" style="background-color: #fff;">
          <td colspan="9" style="border-color: transparent;">
            <table class="table table-no-hover" style="border-color: transparent;">
              <thead>
              <th width="300">Дата</th>
              <th class="text-right" width="">
                <span class="table_name">Яндекс</span>
                <span class="table_name-help">Пизиции</span>
              </th>
              <th class="text-right">
                <span class="table_name">Google</span>
                <span class="table_name-help">Пизиции</span>
              </th>
              </thead>
              <tbody>
              <tr>
                <td>13 июня 2017</td>
                <td class="text-right">57</td>
                <td class="text-right">57</td>
              </tr>
              <tr>
                <td>13 июня 2017</td>
                <td class="text-right">57</td>
                <td class="text-right">57</td>
              </tr>
              <tr>
                <td>13 июня 2017</td>
                <td class="text-right">57</td>
                <td class="text-right">57</td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>

        <!--  -->

        <tbody>
        <tr>
          <td>
            <span class="table_icon"><i class="f-ico i-ok-good green"></i></span>
          </td>
          <td>
            <span class="table_name">Бизнес идеи</span>
            <span class="table_name-help">seopult.ru/job</span>
          </td>
          <td class="text-right dynamics-td">75<span class="dynamics red"><i class="f-ico i-dynamics red"></i>7</span></td>
          <td class="text-right dynamics-td">3<span class="dynamics green"><i class="f-ico i-dynamics green up"></i>3</span></td>
          <td class="text-right balance">16 469</td>
          <td class="text-right balance">6 469</td>
          <td class="text-right">1 890</td>
          <td>
            <div class="td-controls">
              <span class="table_icon"><i class="f-ico i-controlling top"></i></span>
              <span class="table_icon"><i class="f-ico i-controlling top"></i></span>
              <span class="table_icon"><i class="f-ico i-recommendation orange"></i></span>
            </div>
          </td>
        </tr>
        </tbody>

        <tbody>
        <tr>
          <td>
            <span class="table_icon"><i class="f-ico i-pause red"></i></span>
          </td>
          <td>
            <span class="table_name">Управление персоналом</span>
            <span class="table_name-help">Объявление не прошло модерацию</span>
          </td>
          <td class="text-right">26</td>
          <td class="text-right">18</td>
          <td class="text-right balance">2 752</td>
          <td class="text-right balance">423</td>
          <td class="text-right">990</td>
          <td>
            <div class="td-controls">
              <span class="table_icon"><i class="f-ico i-controlling top"></i></span>
              <span class="table_icon"><i class="f-ico i-controlling top"></i></span>
              <span class="table_icon"><i class="f-ico i-wrench red"></i></span>
            </div>
          </td>
        </tr>
        </tbody>

        <tbody>
        <tr>
          <td>
            <span class="table_icon"><i class="f-ico i-ok-good green"></i></span>
          </td>
          <td>
            <span class="table_name">Повышение квалификации</span>
            <span class="table_name-help">seopult.ru/job</span>
          </td>
          <td class="text-right">89</td>
          <td class="text-right">6</td>
          <td class="text-right balance">18 335</td>
          <td class="text-right balance">8 336</td>
          <td class="text-right">1 451</td>
          <td>
            <div class="td-controls">
              <span class="table_icon"><i class="f-ico i-controlling top"></i></span>
              <span class="table_icon"><i class="f-ico i-controlling top"></i></span>
              <span class="table_icon"><i class="f-ico i-controlling"></i></span>
            </div>
          </td>
        </tr>
        </tbody>

      </table>

    </div><!-- /.table-content -->

  </div><!-- /.wrapper -->
</div><!-- /.main -->


