<div class="main">
  <div class="wrapper">

    <div class="content">
      <div class="content-header">
        <h2>Создание рекламной кампании</h2>
        <div class="block-btn-right"><a href="#" class="btn btn-outline">Подобрать слова из YML</a></div>
      </div><!-- /.content-header -->
    </div><!-- /.content -->

    <div class="table-content">

      <table class="table table--gray table-words">
        <thead>
          <tr>
            <th width="40">
              <span class="table_icon"><i class="f-ico i-filter"></i></span>
            </th>
            <th width="333">
              <span class="table_name">Ключевое слово</span>
              <span class="table_name-help">Посадочная страница</span>
            </th>
            <th width="149">
              <span class="table_name">Конкуренция</span>
              <span class="table_name-help">По слову</span>
            </th>
            <th class="text-right">
              <span class="table_name">Прогноз переходов за месяц</span>
              <span class="table_name-help">После запуска <span class="interval"><i class="f-ico i-arrow"></i></span> После роста</span>
            </th>
            <th class="text-right">
              <span class="table_name">Бюджет</span>
              <span class="table_name-help">руб / мес</span>
            </th>
            <th width="60"></th>
          </tr>
        </thead>

        <tbody>
          <tr class="add-word">
            <td>
              <label for="new-keyword">
                <span class="table_icon">
                  <i class="f-ico i-plus-in-circle"></i>
                </span>
              </label>
            </td>
            <td colspan="5">
              <div class="form-group">
                <input type="text" id="new-keyword" class="form-control" placeholder="Ввдите свое ключевое слово или адрес страницы">
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="form-check form-check--light">
                <input type="checkbox" name="group2" id="check1">
                <label for="check1">
                  <span class="form-check-control"></span>
                </label>
              </div>
            </td>
            <td>
              <span class="table_name">Бизнес идеи</span>
              <span class="table_name-help">seopult.ru/job</span>
            </td>
            <td>
              <div class="dots dots--gray">
                <div class="dots__item dots__item--select"><span>1</span></div>
                <div class="dots__item dots__item--select"><span>2</span></div>
                <div class="dots__item dots__item--select"><span>3</span></div>
                <div class="dots__item"><span>4</span></div>
                <div class="dots__item"><span>5</span></div>
              </div>
            </td>
            <td class="text-right">
              <div class="forecast">
                <span class="forecast__start">300</span>
                <span class="forecast__interval"><i class="f-ico i-arrow"></i></span>
                <span class="forecast__height">38&nbsp;890</span>
              </div>
            </td>
            <td class="text-right balance">8&nbsp;400</td>
            <td></td>
          </tr>

          <tr>
            <td>
              <div class="form-check form-check--light">
                <input type="checkbox" name="group2" id="check2">
                <label for="check2">
                  <span class="form-check-control"></span>
                </label>
              </div>
            </td>
            <td>
              <span class="table_name">Управление персоналом</span>
              <span class="table_name-help">seopult.ru/job</span>
            </td>
            <td>
              <div class="dots dots--gray">
                <div class="dots__item dots__item--select"><span>1</span></div>
                <div class="dots__item dots__item--select"><span>2</span></div>
                <div class="dots__item dots__item--select"><span>3</span></div>
                <div class="dots__item dots__item--select"><span>4</span></div>
                <div class="dots__item"><span>5</span></div>
              </div>
            </td>
            <td class="text-right">
              <div class="forecast">
                <span class="forecast__start">25</span>
                <span class="forecast__interval"><i class="f-ico i-arrow"></i></span>
                <span class="forecast__height">458</span>
              </div>
            </td>
            <td class="text-right balance">750</td>
            <td></td>
          </tr>

          <tr>
            <td>
              <div class="form-check form-check--light">
                <input type="checkbox" name="group2" id="check3">
                <label for="check3">
                  <span class="form-check-control"></span>
                </label>
              </div>
            </td>
            <td>
              <span class="table_name">Повышение квалификации</span>
              <span class="table_name-help">seopult.ru/job</span>
            </td>
            <td>
              <div class="dots dots--gray">
                <div class="dots__item dots__item--select"><span>1</span></div>
                <div class="dots__item dots__item--select"><span>2</span></div>
                <div class="dots__item"><span>3</span></div>
                <div class="dots__item"><span>4</span></div>
                <div class="dots__item"><span>5</span></div>
              </div>
            </td>
            <td class="text-right">
              <div class="forecast">
                <span class="forecast__start">150</span>
                <span class="forecast__interval"><i class="f-ico i-arrow"></i></span>
                <span class="forecast__height">28&nbsp;450</span>
              </div>
            </td>
            <td class="text-right balance">6 300</td>
            <td></td>
          </tr>

          <tr>
            <td>
              <div class="form-check form-check--light">
                <input type="checkbox" name="group2" id="check4">
                <label for="check4">
                  <span class="form-check-control"></span>
                </label>
              </div>
            </td>
            <td>
              <span class="table_name">Бизнес с нуля</span>
              <span class="table_name-help">seopult.ru/job</span>
            </td>
            <td>
              <div class="dots dots--gray">
                <div class="dots__item dots__item--select"><span>1</span></div>
                <div class="dots__item dots__item--select"><span>2</span></div>
                <div class="dots__item dots__item--select"><span>3</span></div>
                <div class="dots__item"><span>4</span></div>
                <div class="dots__item"><span>5</span></div>
              </div>
            </td>
            <td class="text-right">
              <div class="forecast">
                <span class="forecast__start">190</span>
                <span class="forecast__interval"><i class="f-ico i-arrow"></i></span>
                <span class="forecast__height">9&nbsp;620</span>
              </div>
            </td>
            <td class="text-right balance">4 600</td>
            <td></td>
          </tr>

          <tr>
            <td>
              <div class="form-check form-check--light">
                <input type="checkbox" name="group2" id="check5">
                <label for="check5">
                  <span class="form-check-control"></span>
                </label>
              </div>
            </td>
            <td>
              <span class="table_name">Бизнес идеи</span>
              <span class="table_name-help">seopult.ru/job</span>
            </td>
            <td>
              <div class="dots dots--gray">
                <div class="dots__item dots__item--select"><span>1</span></div>
                <div class="dots__item dots__item--select"><span>2</span></div>
                <div class="dots__item dots__item--select"><span>3</span></div>
                <div class="dots__item"><span>4</span></div>
                <div class="dots__item"><span>5</span></div>
              </div>
            </td>
            <td class="text-right">
              <div class="forecast">
                <span class="forecast__start">300</span>
                <span class="forecast__interval"><i class="f-ico i-arrow"></i></span>
                <span class="forecast__height">38&nbsp;890</span>
              </div>
            </td>
            <td class="text-right balance">8 400</td>
            <td></td>
          </tr>

          <tr>
            <td>
              <div class="form-check">
                <input type="checkbox" name="group2" id="check6">
                <label for="check6">
                  <span class="form-check-control"></span>
                </label>
              </div>
            </td>
            <td>
              <span class="table_name">Управление персоналом</span>
              <span class="table_name-help">seopult.ru/job</span>
            </td>
            <td>
              <div class="dots dots--gray">
                <div class="dots__item dots__item--select"><span>1</span></div>
                <div class="dots__item dots__item--select"><span>2</span></div>
                <div class="dots__item dots__item--select"><span>3</span></div>
                <div class="dots__item dots__item--select"><span>4</span></div>
                <div class="dots__item"><span>5</span></div>
              </div>
            </td>
            <td class="text-right">
              <div class="forecast">
                <span class="forecast__start">25</span>
                <span class="forecast__interval"><i class="f-ico i-arrow"></i></span>
                <span class="forecast__height">458</span>
              </div>
            </td>
            <td class="text-right balance">750</td>
            <td></td>
          </tr>

          <tr>
            <td>
              <div class="form-check form-check--light">
                <input type="checkbox" name="group2" id="check7">
                <label for="check7">
                  <span class="form-check-control"></span>
                </label>
              </div>
            </td>
            <td>
              <span class="table_name">Повышение квалификации</span>
              <span class="table_name-help">seopult.ru/job</span>
            </td>
            <td>
              <div class="dots dots--gray">
                <div class="dots__item dots__item--select"><span>1</span></div>
                <div class="dots__item dots__item--select"><span>2</span></div>
                <div class="dots__item"><span>3</span></div>
                <div class="dots__item"><span>4</span></div>
                <div class="dots__item"><span>5</span></div>
              </div>
            </td>
            <td class="text-right">
              <div class="forecast">
                <span class="forecast__start">150</span>
                <span class="forecast__interval"><i class="f-ico i-arrow"></i></span>
                <span class="forecast__height">28&nbsp;450</span>
              </div>
            </td>
            <td class="text-right balance">6 300</td>
            <td></td>
          </tr>

          <tr>
            <td>
              <div class="form-check form-check--light">
                <input type="checkbox" name="group2" id="check8">
                <label for="check8">
                  <span class="form-check-control"></span>
                </label>
              </div>
            </td>
            <td>
              <span class="table_name">Бизнес с нуля</span>
              <span class="table_name-help">seopult.ru/job</span>
            </td>
            <td>
              <div class="dots dots--gray">
                <div class="dots__item dots__item--select"><span>1</span></div>
                <div class="dots__item dots__item--select"><span>2</span></div>
                <div class="dots__item dots__item--select"><span>3</span></div>
                <div class="dots__item"><span>4</span></div>
                <div class="dots__item"><span>5</span></div>
              </div>
            </td>
            <td class="text-right">
              <div class="forecast">
                <span class="forecast__start">190</span>
                <span class="forecast__interval"><i class="f-ico i-arrow"></i></span>
                <span class="forecast__height">9&nbsp;620</span>
              </div>
            </td>
            <td class="text-right balance">4 600</td>
            <td></td>
          </tr>

          <tr class="row-transparent">
            <td>
              <div class="percentage">
                <div class="percentage__value"><span>58%</span></div><!-- /.percentage__value -->
              </div><!-- /.percentage -->
            </td>
            <td>
              <span class="table_name"><span class="blur-text">Бизнес с нуля</span></span>
              <span class="table_name-help"><span class="blur-text">seopult.ru/job</span></span>
            </td>
            <td>
              <div class="dots dots--gray">
                <div class="dots__item dots__item--select"><span>1</span></div>
                <div class="dots__item dots__item--select"><span>2</span></div>
                <div class="dots__item dots__item--select"><span>3</span></div>
                <div class="dots__item"><span>4</span></div>
                <div class="dots__item"><span>5</span></div>
              </div>
            </td>
            <td class="text-right">
              <div class="forecast">
                <span class="forecast__start"><span class="blur-text">190</span></span>
                <span class="forecast__interval"><i class="f-ico i-arrow"></i></span>
                <span class="forecast__height"><span class="blur-text">9&nbsp;620</span></span>
              </div>
            </td>
            <td class="text-right"><span class="blur-text">4 600</span></td>
            <td></td>
          </tr>

          <tr class="row-transparent">
            <td>
              <div class="percentage">
                <div class="percentage__value"><span>9%</span></div><!-- /.percentage__value -->
              </div><!-- /.percentage -->
            </td>
            <td>
              <span class="table_name"><span class="blur-text">Повышение квалификации</span></span>
              <span class="table_name-help"><span class="blur-text">seopult.ru/job</span></span>
            </td>
            <td>
              <div class="dots dots--gray">
                <div class="dots__item dots__item--select"><span>1</span></div>
                <div class="dots__item dots__item--select"><span>2</span></div>
                <div class="dots__item"><span>3</span></div>
                <div class="dots__item"><span>4</span></div>
                <div class="dots__item"><span>5</span></div>
              </div>
            </td>
            <td class="text-right">
              <div class="forecast">
                <span class="forecast__start"><span class="blur-text">150</span></span>
                <span class="forecast__interval"><i class="f-ico i-arrow"></i></span>
                <span class="forecast__height"><span class="blur-text">28&nbsp;450</span></span>
              </div>
            </td>
            <td class="text-right"><span class="blur-text">6 300</span></td>
            <td></td>
          </tr>

          <tr class="row-transparent">
            <td>
              <div class="percentage">
                <div class="percentage__value"><span>91%</span></div><!-- /.percentage__value -->
              </div><!-- /.percentage -->
            </td>
            <td>
              <span class="table_name"><span class="blur-text">Управление персоналом</span></span>
              <span class="table_name-help"><span class="blur-text">seopult.ru/job</span></span>
            </td>
            <td>
              <div class="dots dots--gray">
                <div class="dots__item dots__item--select"><span>1</span></div>
                <div class="dots__item dots__item--select"><span>2</span></div>
                <div class="dots__item dots__item--select"><span>3</span></div>
                <div class="dots__item dots__item--select"><span>4</span></div>
                <div class="dots__item"><span>5</span></div>
              </div>
            </td>
            <td class="text-right">
              <div class="forecast">
                <span class="forecast__start"><span class="blur-text">25</span></span>
                <span class="forecast__interval"><i class="f-ico i-arrow"></i></span>
                <span class="forecast__height"><span class="blur-text">458</span></span>
              </div>
            </td>
            <td class="text-right"><span class="blur-text">750</span></td>
            <td></td>
          </tr>

          <tr class="row-transparent">
            <td>
              <div class="percentage">
                <div class="percentage__value"><span>12%</span></div><!-- /.percentage__value -->
              </div><!-- /.percentage -->
            </td>
            <td>
              <span class="table_name"><span class="blur-text">Управление персоналом</span></span>
              <span class="table_name-help"><span class="blur-text">seopult.ru/job</span></span>
            </td>
            <td>
              <div class="dots dots--gray">
                <div class="dots__item dots__item--select"><span>1</span></div>
                <div class="dots__item dots__item--select"><span>2</span></div>
                <div class="dots__item dots__item--select"><span>3</span></div>
                <div class="dots__item dots__item--select"><span>4</span></div>
                <div class="dots__item"><span>5</span></div>
              </div>
            </td>
            <td class="text-right">
              <div class="forecast">
                <span class="forecast__start"><span class="blur-text">25</span></span>
                <span class="forecast__interval"><i class="f-ico i-arrow"></i></span>
                <span class="forecast__height"><span class="blur-text">458</span></span>
              </div>
            </td>
            <td class="text-right"><span class="blur-text">750</span></td>
            <td></td>
          </tr>

          <tr class="row-transparent">
            <td>
              <div class="percentage">
                <div class="percentage__value"><span>21%</span></div><!-- /.percentage__value -->
              </div><!-- /.percentage -->
            </td>
            <td>
              <span class="table_name"><span class="blur-text">Управление персоналом</span></span>
              <span class="table_name-help"><span class="blur-text">seopult.ru/job</span></span>
            </td>
            <td>
              <div class="dots dots--gray">
                <div class="dots__item dots__item--select"><span>1</span></div>
                <div class="dots__item dots__item--select"><span>2</span></div>
                <div class="dots__item dots__item--select"><span>3</span></div>
                <div class="dots__item dots__item--select"><span>4</span></div>
                <div class="dots__item"><span>5</span></div>
              </div>
            </td>
            <td class="text-right">
              <div class="forecast">
                <span class="forecast__start"><span class="blur-text">25</span></span>
                <span class="forecast__interval"><i class="f-ico i-arrow"></i></span>
                <span class="forecast__height"><span class="blur-text">458</span></span>
              </div>
            </td>
            <td class="text-right"><span class="blur-text">750</span></td>
            <td></td>
          </tr>

          <tr class="row-transparent">
            <td>
              <div class="percentage">
                <div class="percentage__value"><span>5%</span></div><!-- /.percentage__value -->
              </div><!-- /.percentage -->
            </td>
            <td>
              <span class="table_name"><span class="blur-text">Бизнес с нуля</span></span>
              <span class="table_name-help"><span class="blur-text">seopult.ru/job</span></span>
            </td>
            <td>
              <div class="dots dots--gray">
                <div class="dots__item dots__item--select"><span>1</span></div>
                <div class="dots__item dots__item--select"><span>2</span></div>
                <div class="dots__item dots__item--select"><span>3</span></div>
                <div class="dots__item"><span>4</span></div>
                <div class="dots__item"><span>5</span></div>
              </div>
            </td>
            <td class="text-right">
              <div class="forecast">
                <span class="forecast__start"><span class="blur-text">190</span></span>
                <span class="forecast__interval"><i class="f-ico i-arrow"></i></span>
                <span class="forecast__height"><span class="blur-text">9&nbsp;620</span></span>
              </div>
            </td>
            <td class="text-right"><span class="blur-text">4 600</span></td>
            <td></td>
          </tr>

        </tbody>
      </table>

    </div><!-- /.table-content -->

  </div><!-- /.wrapper -->
</div><!-- /.main -->
