<div class="main">
  <div class="wrapper">

    <div class="content">
      <h2>Добавление новых ключевых слов</h2>
      <div class="type-select-box">
        <div class="row">
          <div class="col-xs">

            <div class="type-select">
              <div class="type-select__che">
                <div class="type-select-counter"><span>2</span></div>
              </div><!-- /.type-select__che -->
              <label class="type-select__description">
                <div class="type-select__description-name">Автоматический режим</div>
                <div class="type-select__description-text">Подобрать ключевые слова с определенной страницы сайта</div>
                <div class="block-btn"><a href="" class="btn btn-outline">Подобрать</a></div>
              </label><!-- /.type-select__description -->
            </div><!-- /.type-select -->

          </div><!-- /.col-xs -->
          <div class="col-xs">

            <div class="type-select type-select--active">
              <div class="type-select__che">
                <div class="type-select-counter"><span>2</span></div>
              </div><!-- /.type-select__che -->
              <label class="type-select__description">
                <div class="type-select__description-name">Ручной режим</div>
                <div class="type-select__description-text">Добавить ключевые слова самостоятельно</div>
                <div class="block-btn"><a href="" class="btn btn-outline disabled">Добавить</a></div>
              </label><!-- /.type-select__description -->
            </div><!-- /.type-select -->

          </div><!-- /.col-xs -->
          <div class="col-xs">

            <div class="type-select">
              <div class="type-select__che">
                <div class="type-select-counter"><span>2</span></div>
              </div><!-- /.type-select__che -->
              <label class="type-select__description">
                <div class="type-select__description-name">Подобрать из YML</div>
                <div class="type-select__description-text">Укажите адрес YML (XML) файла, чтобы выбрать товары</div>
                <div class="block-btn"><a href="" class="btn btn-outline">Загрузить</a></div>
              </label><!-- /.type-select__description -->
            </div><!-- /.type-select -->

          </div><!-- /.col-xs -->
        </div><!-- /.row -->
      </div><!-- /.type-select-box -->
    </div><!-- /.content -->



    <div class="table-content">

      <table class="table table--gray table-words">
        <thead>
          <tr>
            <th width="40">
              <span class="table_icon"><i class="f-ico i-filter"></i></span>
            </th>
            <th width="333">
              <span class="table_name">Ключевое слово</span>
              <span class="table_name-help">Посадочная страница</span>
            </th>
            <th width="149">
              <span class="table_name">Конкуренция</span>
              <span class="table_name-help">По слову</span>
            </th>
            <th class="text-right">
              <span class="table_name">Прогноз переходов за месяц</span>
              <span class="table_name-help">После запуска <span class="interval"><i class="f-ico i-arrow"></i></span> После роста</span>
            </th>
            <th class="text-right">
              <span class="table_name">Бюджет</span>
              <span class="table_name-help">руб / мес</span>
            </th>
            <th width="60"></th>
          </tr>
        </thead>

        <tbody>
          <tr class="add-word">
            <td style="padding-right: 18px;">
              <label for="new-keyword">
                <span class="table_icon"><i class="f-ico i-plus-in-circle"></i></span>
              </label>
            </td>
            <td colspan="5">
              <div class="form-group">
                <input type="text" id="new-keyword" class="form-control" placeholder="Ввдите свое ключевое слово или адрес страницы">
              </div>
            </td>
          </tr>

        </tbody>
      </table>

    </div><!-- /.table-content -->

    <div class="content" style="padding-top: 5px;">
      <h2>Слова в работе</h2>
    </div><!-- /.content -->

  </div><!-- /.wrapper -->
</div><!-- /.main -->
