<div class="main">
  <div class="wrapper">

    <div class="words-pickup">
      <div class="words-pickup__box">
        <div class="words-pickup__description">
          <div class="words-pickup__description-header">
            <span>Подобрать слова из YML</span>
          </div><!-- /.pickup-description__header -->
          <div class="words-pickup__description-text">
            <span>Укажите адрес <abbr title="Yandex Market Language">YML</abbr> (XML) файла, чтобы выбрать товары</span>
          </div><!-- /.pickup-description__text -->
        </div><!-- /.words-pickup__description -->
        <div class="words-pickup__btn">
          <a href="#" class="btn btn-outline">Загрузить</a>
        </div><!-- /.words-pickup__btn -->
      </div><!-- /.words-pickup__box -->
    </div><!-- /.words-pickup -->

    <div class="content content--small">
      <div class="content-header content-header--full">
        <h2>Выберите нужные ключевые слова</h2>
        <div class="content-header__checkbox">
          <div class="form-check form-check--light">
            <input type="checkbox" name="group2" id="seo" checked>
            <label for="seo">
              <span class="form-check-control">Поисковое продвижение</span>
            </label>
          </div>
          <div class="form-check form-check--light">
            <input type="checkbox" name="group2" id="ppc" checked>
            <label for="ppc">
              <span class="form-check-control">Контекстная реклама</span>
            </label>
          </div>
        </div><!-- /.content-header__checkbox -->
      </div><!-- /.content-header -->
    </div><!-- /.content -->

    <div class="table-content table-content--istotal">

      <table class="table table-words">
        <thead>
          <tr>
            <th width="40">
              <span class="table_icon"><i class="f-ico i-filter"></i></span>
            </th>
            <th width="333">
              <span class="table_name">Ключевое слово</span>
              <span class="table_name-help">Посадочная страница</span>
            </th>
            <th width="149">
              <span class="table_name">Конкуренция</span>
              <span class="table_name-help">По слову</span>
            </th>
            <th class="text-right">
              <span class="table_name">Прогноз переходов за месяц</span>
              <span class="table_name-help">После запуска <span class="interval"><i class="f-ico i-arrow"></i></span> После роста</span>
            </th>
            <th class="text-right">
              <span class="table_name">Бюджет</span>
              <span class="table_name-help">руб / мес</span>
            </th>
            <th width="60"></th>
          </tr>
        </thead>

        <tbody>
          <tr class="add-word">
            <td>
              <label for="new-keyword">
                <span class="table_icon"><i class="f-ico i-plus-in-circle"></i></span>
              </label>
            </td>
            <td colspan="5">
              <div class="form-group">
                <input type="text" id="new-keyword" class="form-control" placeholder="Ввдите свое ключевое слово или адрес страницы">
              </div>
            </td>
          </tr>
        </tbody>

        <include src="table-row.html" keyword="Бизнес с нуля" keywordurl="seopult.ru/subscribe.html?op=manage"></include>
        <include src="table-row.html" keyword="Управление и манипуляция людьми" keywordurl="seopult.ru/dir/info/help/faq/lol/dir/subdir/subscribe.html?op=manage"></include>

        <tbody>
        <tr class="row-transparent">
          <td>
            <div class="percentage">
              <div class="percentage__value"><span>58%</span></div><!-- /.percentage__value -->
            </div><!-- /.percentage -->
          </td>
          <td>
            <span class="table_name"><span class="blur-text">Бизнес с нуля</span></span>
            <span class="table_name-help"><span class="blur-text">seopult.ru/job</span></span>
          </td>
          <td>
            <div class="dots dots--gray">
              <div class="dots__item dots__item--select"><span>1</span></div>
              <div class="dots__item dots__item--select"><span>2</span></div>
              <div class="dots__item dots__item--select"><span>3</span></div>
              <div class="dots__item"><span>4</span></div>
              <div class="dots__item"><span>5</span></div>
            </div>
          </td>
          <td class="text-right">
            <div class="forecast">
              <span class="forecast__start"><span class="blur-text">190</span></span>
              <span class="forecast__interval"><i class="f-ico i-arrow"></i></span>
              <span class="forecast__height"><span class="blur-text">9&nbsp;620</span></span>
            </div>
          </td>
          <td class="text-right"><span class="blur-text">4 600</span></td>
          <td></td>
        </tr>
        </tbody>

        <tbody>
        <tr class="row-transparent">
          <td>
            <div class="percentage">
              <div class="percentage__value"><span>58%</span></div><!-- /.percentage__value -->
            </div><!-- /.percentage -->
          </td>
          <td>
            <span class="table_name"><span class="blur-text">Бизнес с нуля</span></span>
            <span class="table_name-help"><span class="blur-text">seopult.ru/job</span></span>
          </td>
          <td>
            <div class="dots dots--gray">
              <div class="dots__item dots__item--select"><span>1</span></div>
              <div class="dots__item dots__item--select"><span>2</span></div>
              <div class="dots__item dots__item--select"><span>3</span></div>
              <div class="dots__item"><span>4</span></div>
              <div class="dots__item"><span>5</span></div>
            </div>
          </td>
          <td class="text-right">
            <div class="forecast">
              <span class="forecast__start"><span class="blur-text">190</span></span>
              <span class="forecast__interval"><i class="f-ico i-arrow"></i></span>
              <span class="forecast__height"><span class="blur-text">9&nbsp;620</span></span>
            </div>
          </td>
          <td class="text-right"><span class="blur-text">4 600</span></td>
          <td></td>
        </tr>
        </tbody>

        <tbody>
          <tr>
            <td colspan="6" class="td-alert">
              <div class="alert alert--orange">
                <div class="alert__icon">
                  <span><i class="f-ico i-recommendation white"></i></span>
                </div><!-- /.alert__icon -->
                <div class="alert__content">
                  <div class="alert-header">Формулировка рекомендации к ключевому слову</div>
                  <div class="alert-text">Реклама остановится через № дней <a href="" class="alert-link">Продолжить показы</a></div>
                </div><!-- /.alert__content -->
                <div class="alert__actions">
                  <a href="" class="btn btn-outline">Понял вас</a>
                </div>
                <div class="alert__close">
                  <span><i class="f-ico i-close white"></i></span>
                </div><!-- /.alert__close -->
              </div><!-- /.alert -->
            </td>
          </tr>
          <tr>
            <td colspan="6" class="td-alert">
              <div class="words-total warning">
                <div class="words-total__box">
                  <div class="words-total__item">
                    <div class="words-total_name">
                      <span>Слов к продвижению</span>
                    </div><!-- /.words-total_name -->
                    <div class="words-total_value">
                      <span>27</span>
                    </div><!-- /.words-total_value -->
                  </div><!-- /.words-total__item -->
                  <div class="words-total__item">
                    <div class="words-total_name">
                      <span>Прогноз переходов в месяц</span>
                    </div><!-- /.words-total_name -->
                    <div class="words-total_value">
                      <span>860</span>
                      <span class="interval"><i class="f-ico i-arrow white"></i></span>
                      <span>3&nbsp;527</span>
                    </div><!-- /.words-total_value -->
                  </div><!-- /.words-total__item -->
                  <div class="words-total__item">
                    <div class="words-total_name">
                      <span>Бюджет на месяц</span>
                    </div><!-- /.words-total_name -->
                    <div class="words-total_value">
                      <span>7&nbsp;896&nbsp;</span>
                    </div><!-- /.words-total_value -->
                  </div><!-- /.words-total__item -->
                  <div class="words-total__item">
                    <a href="#" class="btn btn-blue">Продолжить</a>
                  </div><!-- /.words-total__item -->
                </div><!-- /.words-total__box -->
              </div><!-- /.words-total -->
            </td>
          </tr>
        </tbody>

        <include src="table-row.html" keyword="Бизнес с нуля" keywordurl="seopult.ru/subscribe.html?op=manage"></include>

      </table>

    </div><!-- /.table-content -->

    <div class="words-total words-total--sticky">
      <div class="words-total__box">
        <div class="words-total__item">
          <div class="words-total_name">
            <span>Слов к продвижению</span>
          </div><!-- /.words-total_name -->
          <div class="words-total_value">
            <span>27</span>
          </div><!-- /.words-total_value -->
        </div><!-- /.words-total__item -->
        <div class="words-total__item">
          <div class="words-total_name">
            <span>Прогноз переходов в месяц</span>
          </div><!-- /.words-total_name -->
          <div class="words-total_value">
            <span>860</span>
            <span class="interval"><i class="f-ico i-arrow"></i></span>
            <span>3&nbsp;527</span>
          </div><!-- /.words-total_value -->
        </div><!-- /.words-total__item -->
        <div class="words-total__item">
          <div class="words-total_name">
            <span>Бюджет на месяц</span>
          </div><!-- /.words-total_name -->
          <div class="words-total_value">
            <span>7&nbsp;896&nbsp;</span>
          </div><!-- /.words-total_value -->
        </div><!-- /.words-total__item -->
        <div class="words-total__item">
          <a href="#" class="btn btn-blue">Продолжить</a>
        </div><!-- /.words-total__item -->
      </div><!-- /.words-total__box -->
    </div><!-- /.words-total -->

  </div><!-- /.wrapper -->
</div><!-- /.main -->


<script>
  $('table').on('click', 'tr.parent .controlling', function(){
    $(this).children('.f-ico').toggleClass('_controlling-hide');
    $(this).closest('tbody').toggleClass('open');
  });
  /* это - друной костыль, чтобы показать открытый элемент */
  if ($('tbody.open')) {
    $('tr.parent .td-controls .controlling').children('.i-chevron').addClass('_controlling-hide');
    $('tr.parent .td-controls .controlling').children('.i-controlling').removeClass('_controlling-hide');
  }

  $('._var-budget').click(function() {
    var text = $(this).text();
    $('#budget-op').val(text).focus().addClass('focus');
  });

  $('._var-budget2').click(function() {
    var text = $(this).text();
    $('#budget-op2').val(text).focus().addClass('focus');
  });
</script>
