<div class="main">
  <div class="wrapper">
    <div class="content">
      <h2>Подключение счётчика</h2>
      <p>Благодаря счётчику система сможет отслеживать переходы по ключевым запросам</p>

      <div class="row">
        <div class="col-xs">

          <div class="counter-box">
            <div class="counter-box__logo">
              <include src="../../../images/svg/metrika.svg"></include>
            </div><!-- /.counter-box__logo -->
            <div class="counter-box__btn">
              <a href="#" class="btn btn-outline">Подключить</a>
            </div><!-- /.counter-box__btn -->
          </div><!-- /.counter-box -->

        </div><!-- /.col-xs -->
        <div class="col-xs">

          <div class="counter-box">
            <div class="counter-box__logo">
              <include src="../../../images/svg/googleanalytics.svg"></include>
            </div><!-- /.counter-box__logo -->
            <div class="counter-box__btn">
              <a href="#" class="btn btn-outline">Подключить</a>
            </div><!-- /.counter-box__btn -->
          </div><!-- /.counter-box -->

        </div><!-- /.col-xs -->
      </div><!-- /.row -->

    </div><!-- /.content -->
  </div><!-- /.wrapper -->
</div><!-- /.main -->
