.counter-box {
  margin: 35px 0 0 0;
  &__logo {
    margin-bottom: 15px;
    min-height: 40px;
  }
  &__btn {
    display: flex;
    .close-link {
      margin-left: 20px;
    }
    .btn-outline.disabled {
      background-color: rgb(233, 239, 240);
      border-color: rgb(233, 239, 240);
      color: rgb(49, 52, 54);
    }
  }
}
