<div class="project-header">

  <div class="project">
    <div class="project-icon">
      <img src="assets/images/getsale-icon.png" alt="">
    </div><!-- /.project-icon -->
    <div class="project-name" title="GetSale">
      <span>GetSale</span>
    </div><!-- /.project-name -->
    <div class="project-geography" title="Москва, Московская область">
      <span>Москва, Московская область</span>
    </div><!-- /.project-geography -->
  </div><!-- /.project -->

  <div class="balance">

    <div class="balance-project">
      <a href="finance-statistics.html" title="Откроется финансовая статистика">
        <div class="balance-value">
          <span>8&nbsp;782.40&nbsp;&#8381;</span>
        </div><!-- /.balance-value -->
        <div class="balance-time">
          <span>Хватит на 15 дней</span>
        </div><!-- /.balance-time -->
      </a>
    </div><!-- /.balance-project -->
    <div class="recharge">
      <a href="pay-and-start.html" class="btn btn-outline">Пополнить счёт</a>
    </div><!-- /.recharge -->
  </div><!-- /.balance -->

</div><!-- /.project-header -->
