<table class="table checkbox-zone">
  <thead>
    <tr>
    <th></th>
    <th><span>00</span></th>
    <th><span>01</span></th>
    <th><span>02</span></th>
    <th><span>03</span></th>
    <th><span>04</span></th>
    <th><span>05</span></th>
    <th><span>06</span></th>
    <th><span>07</span></th>
    <th><span>08</span></th>
    <th><span>09</span></th>
    <th><span>10</span></th>
    <th><span>11</span></th>
    <th><span>12</span></th>
    <th><span>13</span></th>
    <th><span>14</span></th>
    <th><span>15</span></th>
    <th><span>16</span></th>
    <th><span>17</span></th>
    <th><span>18</span></th>
    <th><span>19</span></th>
    <th><span>20</span></th>
    <th><span>21</span></th>
    <th><span>22</span></th>
    <th><span>23</span></th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <th><span>пн</span></th>
      <td>01</td>
      <td>02</td>
      <td>03</td>
      <td>04</td>
      <td>05</td>
      <td>06</td>
      <td>07</td>
      <td class="td-select">08</td>
      <td class="td-select">09</td>
      <td class="td-select">10</td>
      <td class="td-select">11</td>
      <td class="td-select">12</td>
      <td class="td-select">13</td>
      <td class="td-select">14</td>
      <td class="td-select">15</td>
      <td class="td-select">16</td>
      <td class="td-select">17</td>
      <td class="td-select">18</td>
      <td>19</td>
      <td>20</td>
      <td>21</td>
      <td>22</td>
      <td>23</td>
      <td>24</td>
    </tr>
    <tr>
      <th><span>вт</span></th>
      <td>01</td>
      <td>02</td>
      <td>03</td>
      <td>04</td>
      <td>05</td>
      <td>06</td>
      <td>07</td>
      <td>08</td>
      <td>09</td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
      <td>13</td>
      <td>14</td>
      <td>15</td>
      <td>16</td>
      <td>17</td>
      <td>18</td>
      <td>19</td>
      <td>20</td>
      <td>21</td>
      <td>22</td>
      <td>23</td>
      <td>24</td>
    </tr>
    <tr>
      <th><span>ср</span></th>
      <td>01</td>
      <td>02</td>
      <td>03</td>
      <td>04</td>
      <td>05</td>
      <td>06</td>
      <td>07</td>
      <td class="td-select">08</td>
      <td class="td-select">09</td>
      <td class="td-select">10</td>
      <td class="td-select">11</td>
      <td class="td-select">12</td>
      <td class="td-select">13</td>
      <td class="td-select">14</td>
      <td class="td-select">15</td>
      <td class="td-select">16</td>
      <td class="td-select">17</td>
      <td class="td-select">18</td>
      <td>19</td>
      <td>20</td>
      <td>21</td>
      <td>22</td>
      <td>23</td>
      <td>24</td>
    </tr>
    <tr>
      <th><span>чт</span></th>
      <td>01</td>
      <td>02</td>
      <td>03</td>
      <td>04</td>
      <td>05</td>
      <td>06</td>
      <td>07</td>
      <td class="td-select">08</td>
      <td class="td-select">09</td>
      <td class="td-select">10</td>
      <td class="td-select">11</td>
      <td class="td-select">12</td>
      <td class="td-select">13</td>
      <td class="td-select">14</td>
      <td class="td-select">15</td>
      <td class="td-select">16</td>
      <td class="td-select">17</td>
      <td class="td-select">18</td>
      <td>19</td>
      <td>20</td>
      <td>21</td>
      <td>22</td>
      <td>23</td>
      <td>24</td>
    </tr>
    <tr>
      <th><span>пт</span></th>
      <td>01</td>
      <td>02</td>
      <td>03</td>
      <td>04</td>
      <td>05</td>
      <td>06</td>
      <td>07</td>
      <td class="td-select">08</td>
      <td class="td-select">09</td>
      <td class="td-select">10</td>
      <td class="td-select">11</td>
      <td class="td-select">12</td>
      <td class="td-select">13</td>
      <td class="td-select">14</td>
      <td class="td-select">15</td>
      <td class="td-select">16</td>
      <td class="td-select">17</td>
      <td class="td-select">18</td>
      <td>19</td>
      <td>20</td>
      <td>21</td>
      <td>22</td>
      <td>23</td>
      <td>24</td>
    </tr>

    <tr class="empty">
      <th></th>
      <td colspan="24"></td>
    </tr>

    <tr>
      <th><span>сб</span></th>
      <td>01</td>
      <td>02</td>
      <td>03</td>
      <td>04</td>
      <td>05</td>
      <td>06</td>
      <td>07</td>
      <td>08</td>
      <td>09</td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
      <td>13</td>
      <td>14</td>
      <td>15</td>
      <td>16</td>
      <td>17</td>
      <td class="td-select">18</td>
      <td class="td-select">19</td>
      <td class="td-select">20</td>
      <td>21</td>
      <td>22</td>
      <td>23</td>
      <td>24</td>
    </tr>
    <tr>
      <th><span>вс</span></th>
      <td>01</td>
      <td>02</td>
      <td>03</td>
      <td>04</td>
      <td>05</td>
      <td>06</td>
      <td>07</td>
      <td>08</td>
      <td>09</td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
      <td>13</td>
      <td>14</td>
      <td>15</td>
      <td>16</td>
      <td>17</td>
      <td>18</td>
      <td>19</td>
      <td>20</td>
      <td>21</td>
      <td>22</td>
      <td>23</td>
      <td>24</td>
    </tr>

    <tr class="empty">
      <th></th>
      <td colspan="24"></td>
    </tr>

    <tr>
      <th title="Праздники"><span>пр</span></th>
      <td>01</td>
      <td>02</td>
      <td>03</td>
      <td>04</td>
      <td>05</td>
      <td>06</td>
      <td>07</td>
      <td>08</td>
      <td>09</td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
      <td>13</td>
      <td>14</td>
      <td>15</td>
      <td>16</td>
      <td>17</td>
      <td>18</td>
      <td>19</td>
      <td>20</td>
      <td>21</td>
      <td>22</td>
      <td>23</td>
      <td>24</td>
    </tr>
  </tbody>
</table>
