<div class="main">
  <div class="wrapper">
    <div class="content">
      <div class="payment-status payment-status--error">
        <div class="payment-status__icon">
          <span><include src="../../../images/svg/stop.svg"></include></span>
        </div>
        <h2>Оплата не выполнена</h2>
        <p>Тут нужно написать о причине не выполнения оплаты</p>
        <div class="payment-status__btn">
          <a href="" class="btn btn-blue">Начать привлечение</a>
        </div><!-- /.payment-error__btn -->
      </div><!-- /.payment-error -->
    </div><!-- /.content -->
  </div><!-- /.wrapper -->
</div><!-- /.main -->
