<div class="main">
  <div class="wrapper">
    <div class="content">
      <div class="payment-status payment-status--ok">
        <div class="payment-status__icon">
          <span><include src="../../../images/svg/good.svg"></include></span>
        </div>
        <h2>Оплата прошла успешно</h2>
        <p>Сохраняйте положительный баланс, для того чтобы не упустить потенциальных клиентов <br> и не потерять позиции в поисковой выдачи</p>
        <div class="payment-status__btn">
          <a href="" class="btn btn-blue">Посмотреть рекомендации</a>
        </div><!-- /.payment-error__btn -->
      </div><!-- /.payment-error -->
    </div><!-- /.content -->
  </div><!-- /.wrapper -->
</div><!-- /.main -->
