<div class="main">
  <div class="wrapper">
    <div class="content">

      <div class="btn-group">
        <a href="#" class="btn btn-outline btn-mini">всё время</a>
        <a href="#" class="btn btn-outline btn-mini">90 дней</a>
        <a href="#" class="btn btn-outline btn-active btn-mini">30 дней</a>
        <a href="#" class="btn btn-outline btn-mini">неделя</a>
      </div>

      <h2>Поисковое продвижение</h2>
      <div class="statistics-row">
        <div class="graph-box graph-full" id="graph-full"></div>
      </div>
      <h2>Контекстная реклама</h2>
      <div class="row">
        <div class="col-xs">
          <h3>Яндекс.Директ</h3>
          <div class="graph-box graph-yandex" id="graph-yandex"></div>
        </div>
        <div class="col-xs">
          <h3>Google AdWords</h3>
          <div class="graph-box graph-google" id="graph-google"></div>
        </div>
      </div>
      <h2>Эффективность работы</h2>
      <div class="statistics-row">
        <div class="graph-box graph-effective" id="graph-effective"></div>
      </div>

    </div><!-- /.content -->

    <div class="words-total words-total--light">
      <div class="range-box" style="background-color: rgba(38, 136, 235, .2); height: 50px;"></div>
      <div class="words-total__box">
        <div class="words-total__item">
          <div class="words-total_name">
            <span>Слов к продвижению</span>
          </div><!-- /.words-total_name -->
          <div class="words-total_value">
            <span>69<span class="total_value-small total_value-small--green">+13</span></span>
          </div><!-- /.words-total_value -->
        </div><!-- /.words-total__item -->
        <div class="words-total__item">
          <div class="words-total_name">
            <span>Прогноз переходов в месяц</span>
          </div><!-- /.words-total_name -->
          <div class="words-total_value">
            <span>36&nbsp;589</span>
            <span class="interval"><i class="f-ico i-arrow"></i></span>
            <span>68&nbsp;527<span class="total_value-small total_value-small--green">+24&nbsp;782</span></span>
          </div><!-- /.words-total_value -->
        </div><!-- /.words-total__item -->
        <div class="words-total__item">
          <div class="words-total_name">
            <span>Бюджет на месяц</span>
          </div><!-- /.words-total_name -->
          <div class="words-total_value">
            <span>7&nbsp;896&nbsp;&#8381;<span class="total_value-small total_value-small--green">+2&nbsp;956</span></span>
          </div><!-- /.words-total_value -->
        </div><!-- /.words-total__item -->
        <div class="words-total__item">
          <a href="#" class="btn btn-blue">Продолжить</a>
        </div><!-- /.words-total__item -->
      </div><!-- /.words-total__box -->
    </div><!-- /.words-total -->
  </div><!-- /.wrapper -->
</div><!-- /.main -->


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script src="assets/scripts/highcharts.js"></script>
