<!DOCTYPE html>
<html lang="ru" class="no-js">
  <include src="../blocks/_base/_head.html" title="UI, иконки и типовая текстовая страница" description="UI, иконки и типовая текстовая страница"></include>
  <body>
    <include src="../blocks/header/header-is-admin.html"></include>
    <div class="main">
      <div class="wrapper">
        <div class="content">
          <div class="container">
            <div class="row" style="margin-bottom: 20px;">
              <div class="col-xs">
                <h1>Попапы (модальные окна)</h1>
                <p>Для поапов используелся плагин <a href="http://dimsemenov.com/plugins/magnific-popup/" target="_blank">Magnific Popup</a>. Список базовых состояние попапов собран для задачи
                  <a href="https://seopult.me/item/73513" target="_blank">№73513</a> в Тимере.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs">
                <h2>Что есть из попапов</h2>
                <ol>
                  <li><a class="open-popup" href="#popup-content5">Без описания</a></li>
                  <li><a class="open-popup" href="#popup-content4">Без кнопок и крестика</a></li>
                  <li><a class="open-popup" href="#popup-content3">Обычный</a></li>
                  <li><a class="open-popup" href="#popup-content2">С терминальной зоной и кнопкой справа</a></li>
                  <li><a class="open-popup" href="#popup-content1">С терминальной зоной и ссылкой справа</a></li>
                  <li><a class="open-popup" href="#popup-content">С зоной скролинга между шапкой и подвалом</a></li>
                </ol>
                <h2 style="margin-top: 20px;margin-bottom: 5px;">Сделанное по макетам дизайнера</h2>
                <ol>
                  <li><a class="open-popup" href="#payment-method">Выберите способ оплаты</a></li>
                  <li><a class="open-popup" href="#popup-auth">Вход/регистраниция/восстановление</a></li>
                </ol>
              </div>
              <div class="col-xs">
                <p>Пример кода для вызова поапа. Подробности — в <a href="http://dimsemenov.com/plugins/magnific-popup/documentation.html" target="_blank">документации</a>.</p>
                <pre><code class="js">$('.open-popup').magnificPopup({<br />  type: 'inline',<br /><br />  fixedContentPos: fatruelse,<br />  fixedBgPos: true,<br /><br />  overflowY: 'auto',<br /><br />  closeBtnInside: true,<br />  preloader: false,<br /><br />  midClick: true,<br />  removalDelay: 300,<br />  mainClass: 'my-mfp-zoom-in'<br />});</code></pre>
              </div>
            </div>
          </div>
        </div><!-- /.content -->
      </div><!-- /.wrapper -->
    </div><!-- /.main -->

    <include src="../blocks/popup/popup.auth.html"></include>
    <include src="../blocks/popup/popup.payment-method.html"></include>
    <include src="../blocks/popup/popup-content.html"></include>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-light.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

  </body>
</html>
