<!DOCTYPE html>
<html lang="ru" class="no-js">
  <include src="../blocks/_base/_head.html" title="Подключение счётчика" description="Подключение счётчика"></include>
  <body>
    <include src="../blocks/header/header.html"></include>
    <include src="../blocks/project-header/project-header.html"></include>
    <include src="../blocks/project-tabs/project-tabs.html" statistics="project-nav__item--active"></include>
    <include src="../blocks/counter-add/counter-add.html"></include>
  </body>
</html>
