<!DOCTYPE html>
<html lang="ru" class="no-js">
  <include src="../blocks/_base/_head.html" title="Ключевые слова" description="Ключевые слова"></include>
  <body>
    <include src="../blocks/header/header.html"></include>
    <include src="../blocks/project-header/project-header.html"></include>
    <include src="../blocks/project-tabs/project-tabs.html" keywords="project-nav__item--active"></include>
    <include src="../blocks/keywords/keywords.html"></include>
    <include src="../blocks/words/words4.html"></include>
    <include src="../blocks/words/words5.html"></include>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script src="assets/scripts/highcharts-keywrds.js"></script>

  </body>
</html>
