<!DOCTYPE html>
<html lang="ru" class="no-js">
  <include src="../blocks/_base/_head.html" title="Оплата прошла успешно" description="Оплата прошла успешно"></include>
  <body>
    <include src="../blocks/header/header.html"></include>
    <include src="../blocks/project-header/project-header.html"></include>
    <include src="../blocks/project-tabs/project-tabs.html" statistics="project-nav__item--active"></include>
    <include src="../blocks/payment-status/payment-ok.html"></include>
  </body>
</html>
