<!DOCTYPE html>
<html lang="ru" class="no-js">
  <include src="../blocks/_base/_head.html" title="Рекомендации" description="Рекомендации"></include>
  <body>
    <include src="../blocks/header/header.html"></include>
    <include src="../blocks/project-header/project-header.html"></include>
    <include src="../blocks/project-tabs/project-tabs.html" recommendation="project-nav__item--active"></include>
    <include src="../blocks/recommendation/recommendation.html"></include>
  </body>
</html>
