<!DOCTYPE html>
<html lang="ru" class="no-js">
  <include src="../blocks/_base/_head.html" title="Статистика" description="Статистика"></include>
  <body>
    <include src="../blocks/header/header.html"></include>
    <include src="../blocks/project-header/project-header.html"></include>
    <include src="../blocks/alert/alert.html"></include>
    <include src="../blocks/project-tabs/project-tabs.html" statistics="project-nav__item--active"></include>
    <include src="../blocks/statistics/statistics.html"></include>
  </body>
</html>
