<div class="main">
  <div class="wrapper">
    <div class="content">
      <h2>Настройки аккаунта</h2>
    </div><!-- /.content -->

    <div class="settings-account">

      <form action="" class="settings-account-form">

        <div class="settings-account__box">
          <div class="form-group">
            <label for="siteurl">Адрес сайта</label>
            <div class="settings-account-control">
              <div class="form-inline">

                <div class="status-form-control">
                  <input type="text" id="siteurl" class="form-control" placeholder="Адрес сайта, в любом формате" value="getsale.io">
                  <span class="status-form-control-type" aria-hidden="true">
                    <include src="../../../images/svg/check.svg"></include>
                  </span>
                </div><!-- /.form-group__status -->

              </div>

              <button class="btn btn-blue">Сохранить</button>
            </div>
          </div><!-- /.form-group -->
        </div><!-- /.settings-account__box -->

        <div class="settings-account__box">
          <div class="form-group">
            <label for="#" title="E-mail">Электронная почта</label>
            <div class="settings-account-control">
              <p class="form-control-static">moof37@yandex.ru</p>
              <button class="btn btn-outline">Изменить</button>
            </div>
          </div><!-- /.form-group -->
        </div><!-- /.settings-account__box -->

        <div class="settings-account__box">
          <div class="form-group">
            <label for="#">Восстановление пароля</label>
            <div class="settings-account-control">
              <button class="btn btn-outline">Отправить запрос</button>
            </div>
          </div><!-- /.form-group -->
        </div><!-- /.settings-account__box -->

        <div class="settings-account__box">
          <div class="form-group">
            <label for="">Почтовая рассылка</label>

            <div class="form-check">
              <input type="checkbox" name="group2" id="recommendation" checked>
              <label for="recommendation">
                <span class="form-check-control">Рекомендации по продвижению</span>
              </label>
            </div>

            <div class="form-check">
              <input type="checkbox" name="group2" id="critical-notice" checked>
              <label for="critical-notice">
                <span class="form-check-control">Критически-важные уведомления</span>
              </label>
            </div>

          </div><!-- /.form-group -->
        </div><!-- /.settings-account__box -->

        <div class="settings-account__box">
          <div class="form-group">
            <label for="credit-limit">Кредит доверия</label>

            <div class="form-check">
              <input type="checkbox" name="group2" id="credit-limit">
              <label for="credit-limit">
                <span class="form-check-control">Кредитный лимит до 10 000 рублей для клиентов с оборотом свыше 30 000 рублей в месяц</span>
              </label>
            </div>

          </div><!-- /.form-group -->
        </div><!-- /.settings-account__box -->

        <div class="settings-account__box">
          <div class="form-group">
            <label for="#" title="E-mail">Договор оферты</label>
            <div class="settings-account-control">
              <button class="btn btn-outline"g>Почитать</button>
            </div>
          </div><!-- /.form-group -->
        </div><!-- /.settings-account__box -->

      </form><!-- /form.settings-account-form -->

    </div><!-- /.settings-account -->

  </div><!-- /.wrapper -->
</div><!-- /.main -->
