

<div class="f-plans-page">

  <div class="main">
    <div class="wrapper">
      <div class="content">
        <h1>Пополнение баланса</h1>
        <p>Вы можете мгновенно пополнить баланс в Системе при помощи сервиса Робокасса. При помощи этой службы вы можете пополнять счёт любыми видами электронных денег, через терминалы мгновенной оплаты, через систему денежных переводов Контакт, с помощью кредитных карт, а также многими видами электронных денег.</p>
        <p>Бюджет рекламной кампании: <span class="big">22&nbsp;330</span> рублей в месяц.</p>
      </div><!-- /.content -->
    </div><!-- /.wrapper -->
  </div><!-- /.main -->
  <div class="pay-periods">

    <div class="pay-periods__item">

      <div class="pay-period">
        <div class="pay-period__header">
          <div class="pay-period__header-time">
            <span>1 месяц</span>
          </div><!-- /.pay-period__header-time -->
          <div class="pay-period__header-costs" style="width: 110px;">
            <div class="select">
              <select class="form-control"
                <option value="1">82&nbsp;764&nbsp;&#8381;</option>
                <option value="2">82&nbsp;164&nbsp;&#8381;</option>
                <option value="3">82&nbsp;064&nbsp;&#8381;</option>
              </select>
            </div><!-- /.select -->
            <!--<span>Расход <strong>6&nbsp;897&nbsp;&#8381;</strong></span>-->
          </div><!-- /.pay-period__header-costs -->
        </div><!-- /.pay-period__header -->
        <div class="pay-period__discount pay-period__discount--no">
          <span>Без скидки</span>
        </div><!-- /.pay-period__discount -->
        <div class="pay-period__cost">
          <div class="pay-period__cost-text"><span>К оплате</span></div><!-- /.pay-period__cost-text -->
          <div class="pay-period__cost-value"><span>6 897 &#8381;</span></div><!-- /.pay-period__cost-value -->
        </div><!-- /.pay-period__cost -->
        <div class="pay-period__btn">
          <a href="" class="btn btn-blue btn-full">Оплатить</a>
        </div><!-- /.pay-period__btn -->
      </div><!-- /.pay-period -->

    </div><!-- /.pay-period__item -->

    <div class="pay-periods__item">

      <div class="pay-period">
        <div class="pay-period__header">
          <div class="pay-period__header-time">
            <span>3 месяца</span>
          </div><!-- /.pay-period__header-time -->
          <div class="pay-period__header-costs">
            <span>Расход <strong>20&nbsp;691&nbsp;&#8381;</strong></span>
          </div><!-- /.pay-period__header-costs -->
        </div><!-- /.pay-period__header -->
        <div class="pay-period__discount">
          <span>Скидка 5%</span>
          <span>Экономия 1&nbsp;035&nbsp;&#8381;</span>
        </div><!-- /.pay-period__discount -->
        <div class="pay-period__cost">
          <div class="pay-period__cost-text"><span>К оплате</span></div><!-- /.pay-period__cost-text -->
          <div class="pay-period__cost-value"><span>19&nbsp;656&nbsp;&#8381;</span></div><!-- /.pay-period__cost-value -->
        </div><!-- /.pay-period__cost -->
        <div class="pay-period__btn">
          <a href="" class="btn btn-blue btn-full">Оплатить</a>
        </div><!-- /.pay-period__btn -->
      </div><!-- /.pay-period -->

    </div><!-- /.pay-period__item -->

    <div class="pay-periods__item">

      <div class="pay-period">
        <div class="pay-period__header">
          <div class="pay-period__header-time">
            <span>6 месяцев</span>
          </div><!-- /.pay-period__header-time -->
          <div class="pay-period__header-costs">
            <span>Расход <strong>41&nbsp;382&nbsp;&#8381;</strong></span>
          </div><!-- /.pay-period__header-costs -->
        </div><!-- /.pay-period__header -->
        <div class="pay-period__discount">
          <span>Скидка 10%</span>
          <span>Экономия 4&nbsp;138&nbsp;&#8381;</span>
        </div><!-- /.pay-period__discount -->
        <div class="pay-period__cost">
          <div class="pay-period__cost-text"><span>К оплате</span></div><!-- /.pay-period__cost-text -->
          <div class="pay-period__cost-value"><span>37&nbsp;244&nbsp;&#8381;</span></div><!-- /.pay-period__cost-value -->
        </div><!-- /.pay-period__cost -->
        <div class="pay-period__btn">
          <a href="" class="btn btn-blue btn-full">Оплатить</a>
        </div><!-- /.pay-period__btn -->
      </div><!-- /.pay-period -->

    </div><!-- /.pay-period__item -->

    <div class="pay-periods__item">

      <div class="pay-period">
        <div class="pay-period__header">
          <div class="pay-period__header-time">
            <span>12 месяцев</span>
          </div><!-- /.pay-period__header-time -->
          <div class="pay-period__header-costs">
            <span>Расход <strong>82&nbsp;764&nbsp;&#8381;</strong></span>
          </div><!-- /.pay-period__header-costs -->
        </div><!-- /.pay-period__header -->
        <div class="pay-period__discount">
          <span>Скидка 15%</span>
          <span>Экономия 12&nbsp;415&nbsp;&#8381;</span>
        </div><!-- /.pay-period__discount -->
        <div class="pay-period__cost">
          <div class="pay-period__cost-text"><span>К оплате</span></div><!-- /.pay-period__cost-text -->
          <div class="pay-period__cost-value"><span>70&nbsp;349&nbsp;&#8381;</span></div><!-- /.pay-period__cost-value -->
        </div><!-- /.pay-period__cost -->
        <div class="pay-period__btn">
          <a href="" class="btn btn-blue btn-full">Оплатить</a>
        </div><!-- /.pay-period__btn -->
      </div><!-- /.pay-period -->

    </div><!-- /.pay-period__item -->

  </div><!-- /.pay-period-box -->

</div><!-- /.f-plans-page -->
