<div class="project-tabs">

  <ul class="project-nav">

    <li class="project-nav__item @@statistics">
      <a href="statistics.html" class="project-nav__link">
        <span class="project-nav__icon"><i class="f-ico i-statistics"></i></span>
        <span class="project-nav__text">Статистика <span class="badge badge--orange" title="Новых событий в статистике">99+</span></span>
      </a>
    </li>

    <li class="project-nav__item @@keywords">
      <a href="keywords.html" class="project-nav__link">
        <span class="project-nav__icon"><i class="f-ico i-loupe"></i></span>
        <span class="project-nav__text">Ключевые слова</span>
      </a>
    </li>

    <li class="project-nav__item @@recommendation">
      <a href="recommendation.html" class="project-nav__link">
        <span class="project-nav__icon"><i class="f-ico i-recommendation"></i></span>
        <span class="project-nav__text">Рекомендации <span class="badge badge--orange" title="Новых рекомендаций для ваших кампаний">9</span></span>
      </a>
    </li>

    <li class="project-nav__item @@settings">
      <a href="settings-full.html" class="project-nav__link">
        <span class="project-nav__icon"><i class="f-ico i-settings"></i></span>
        <span class="project-nav__text">Настройки</span>
      </a>
    </li>

  </ul>

</div><!-- /.project-tabs -->
