<include src="list/list.html"></include>

<include src="list/item.html" href="start.html" name="Стартовая страница" title="000 - стартовая.psd" design="100" html="99" sme="seopult.me/item/71436"></include>

<li>
  <span class="selected">Создание проекта</span>
  <ul>
    <include src="list/item.html" href="add-project.html" name="Создание проекта" title="000 - создание проекта.psd" design="100" html="100" sme="seopult.me/item/70892"></include>
    <include src="list/item.html" href="words1.html" name="Создание рекламной кампании №1" title="001 - добавление слов (без выбора).psd" design="100" html="100" sme="seopult.me/item/70892"></include>
    <include src="list/item.html" href="words2.html" name="Создание рекламной кампании №2" title="001 - добавление слов без выбора.psd" design="100" html="100" sme="seopult.me/item/70892"></include>
    <include src="list/item.html" href="words3.html" name="Создание рекламной кампании №3" title="001 - добавление слов.psd" design="100" html="100" sme="seopult.me/item/70892"></include>
    <include src="list/item.html" href="by-links.html" name="Купленные ссылки" title="https://seopult.me/item/71330" design="100" html="100" sme="seopult.me/item/71330"></include>
  </ul>
</li>

<include src="list/item.html" href="counter.html" name="Подключение счётчика" title="001 - статистика до подключения счётчиков.psd" design="100" html="100" sme="seopult.me/item/72116"></include>
<include src="list/item.html" href="statistics.html" name="Сводка" title="001 - статистика.psd" design="100" html="99" sme="seopult.me/item/70960"></include>
<include src="list/item.html" href="keywords.html" name="Управление" title="005 - ключевые слова.psd" design="100" html="100" sme="seopult.me/item/70967"></include>
<include src="list/item.html" href="recommendation.html" name="Рекомендации" title="006 - рекомендации.psd" design="100" html="100" sme="seopult.me/item/70968"></include>
<include src="list/item.html" href="finance-statistics.html" name="Финансовая статистика" title="008 - финансовая статистика.psd" design="100" html="100" sme="seopult.me/item/70971"></include>
<include src="list/item.html" href="instructions.html" name="Инструкция" title="010 - инструкции.psd" design="100" html="100" sme="seopult.me/item/70891"></include>
<include src="list/item.html" href="settings-account.html" name="Профиль пользователя" title="020 - настройка пользователя.psd" design="100" html="100" sme="seopult.me/item/70970"></include>

<include src="list/item.html" href="settings-folded.html" name="Настройки (свёрнутые)" title="009 - настройка свёрнутые.psd" design="100" html="100" sme="seopult.me/item/70969"></include>
<include src="list/item.html" href="settings-full.html" name="Настройки (развёрнутые)" title="009 - настройка.psd" design="100" html="99" sme="seopult.me/item/70969"></include>

<li>
  <span class="selected">Служба поддержки</span>
  <ul>
    <include src="list/item.html" href="support.html" name="Служба поддержки №1" title="013 - обратная связь.psd" design="100" html="100" sme="seopult.me/item/70972"></include>
    <include src="list/item.html" href="support2.html" name="Служба поддержки №2" title="013 - обратная связь2.psd" design="100" html="100" sme="seopult.me/item/70972"></include>
    <include src="list/item.html" href="support3.html" name="Служба поддержки №3" title="013 - обратная связь3.psd" design="100" html="100" sme="seopult.me/item/70972"></include>
  </ul>
</li>

<li>
  <span class="selected">Оплата</span>
  <ul>
    <include src="list/item.html" href="pay-and-start.html" name="Пополнение баланса" title="000 - пополнение.psd" design="100" html="100" sme="seopult.me/item/70957"></include>
    <include src="list/item.html" href="payment-error.html" name="Оплата не выполнена" title="015 - не Подтверждение оплаты.psd" design="100" html="100" sme="seopult.me/item/70957"></include>
    <include src="list/item.html" href="payment-ok.html" name="Оплата прошла успешно" title="015 - Подтверждение оплаты.psd" design="100" html="100" sme="seopult.me/item/70957"></include>
  </ul>
</li>

<include src="list/item.html" href="_popups.html" name="Список всех попапов" title="" design="0" html="100" sme="seopult.me/item/73513"></include>

<include src="list/item.html" href="statuses.html" name="Статусы слова" title="" design="0" html="100" sme="seopult.me/item/74306"></include>

<li>
  <span class="selected">UI</span>
  <ul>
    <include src="list/item.html" href="_ui.html" name="UI, иконки и типовая текстовая страница" title="000 - icon.psd" design="100" html="100" sme="seopult.me/item/70982"></include>
  </ul>
</li>

<include src="structure/structure.html" git="gitlab.finotdel.org:30080/integra/iframe-static"></include>

