<div class="main">
  <div class="wrapper">
    <div class="content content-finance">

      <h2>Финансовая статистика</h2>

      <div class="finance-report">

        <div class="finance-report__item">
          <div class="finance-report-box">
            <div class="finance-report__name">
              <span>Баланс</span>
            </div><!-- /.finance-report__name -->
            <div class="finance-report__value">
              <span>3&nbsp;750.30&nbsp;<span class="unit">руб</span></span>
            </div><!-- /.finance-report__value -->
          </div><!-- /.finance-report-box -->
        </div><!-- /.finance-report__item -->

        <div class="finance-report__item">
          <div class="finance-report-box">
            <div class="finance-report__name">
              <span>Средний расход</span>
            </div><!-- /.finance-report__name -->
            <div class="finance-report__value">
              <span>8&nbsp;367&nbsp;<span class="unit">руб/мес</span></span>
            </div><!-- /.finance-report__value -->
          </div><!-- /.finance-report-box -->
        </div><!-- /.finance-report__item -->

        <div class="finance-report__item">
          <div class="finance-report-box">
            <div class="finance-report__name">
              <span>До остановки работы</span>
            </div><!-- /.finance-report__name -->
            <div class="finance-report__value">
              <span>15&nbsp;<span class="unit">дней</span></span>
            </div><!-- /.finance-report__value -->
          </div><!-- /.finance-report-box -->
        </div><!-- /.finance-report__item -->

        <div class="finance-report__item">
          <div class="finance-report-box">
            <div class="finance-report__name">
              <span>Стоимость привлечения клиента</span>
            </div><!-- /.finance-report__name -->
            <div class="finance-report__value">
              <span>2.68&nbsp;<span class="unit">руб</span></span>
            </div><!-- /.finance-report__value -->
          </div><!-- /.finance-report-box -->
        </div><!-- /.finance-report__item -->

      </div><!-- /.finance-report -->

      <div class="btn-group">
        <a href="#" class="btn btn-outline">всё время</a>
        <a href="#" class="btn btn-outline">90 дней</a>
        <a href="#" class="btn btn-outline btn-active">30 дней</a>
        <a href="#" class="btn btn-outline">неделя</a>
      </div>

      <div class="btn-group">
        <a href="#" class="btn btn-outline">28 января <span class="interval"><include src="../../../images/svg/arrow.svg"></include></span> 28 февраля</a>
      </div>

    </div><!-- /.content -->

    <div class="table-content finance-table">
      <table class="table">
        <thead>
          <tr>
            <th width="400">Дата</th>
            <th width="" class="text-right">Расход</th>
            <th width="150" class="text-right">Начисление</th>
            <th width="150" class="text-right balance">Баланс</th>
            <th width="20" class="text-right"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="parent">
            <td>28 февраля</td>
            <td class="text-right">256</td>
            <td class="text-right"><i class="f-ico i-no"></i></td>
            <td class="text-right balance">16 469</td>
            <td>
             <span class="expand">
               <i class="f-ico i-chevron"></i>
             </span>
            </td>
          </tr>
          <tr class="children">
            <td>Поисковое продвижение</td>
            <td class="text-right">156</td>
            <td colspan="3"></td>
          </tr>
          <tr class="children">
            <td>Контекстная реклама</td>
            <td class="text-right">113</td>
            <td colspan="3"></td>
          </tr>
        </tbody>

        <tbody class="open">
          <tr class="parent">
            <td>27 февраля</td>
            <td class="text-right">269</td>
            <td class="text-right"><i class="f-ico i-no"></i></td>
            <td class="text-right balance">17 259</td>
            <td>
             <span class="expand">
               <i class="f-ico i-chevron"></i>
             </span>
            </td>
          </tr>
          <tr class="children">
            <td>Поисковое продвижение</td>
            <td class="text-right">156</td>
            <td colspan="3"></td>
          </tr>
          <tr class="children">
            <td>Контекстная реклама</td>
            <td class="text-right">113</td>
            <td colspan="3"></td>
          </tr>
        </tbody>

        <tbody>
          <tr class="parent">
            <td>26 февраля</td>
            <td class="text-right">246</td>
            <td class="text-right"><i class="f-ico i-no"></i></td>
            <td class="text-right balance">17 695</td>
            <td>
             <span class="expand">
               <i class="f-ico i-chevron"></i>
             </span>
            </td>
          </tr>
          <tr class="children">
            <td>Поисковое продвижение</td>
            <td class="text-right">156</td>
            <td colspan="3"></td>
          </tr>
          <tr class="children">
            <td>Контекстная реклама</td>
            <td class="text-right">113</td>
            <td colspan="3"></td>
          </tr>
        </tbody>

        <tbody>
          <tr class="parent">
            <td>25 февраля</td>
            <td class="text-right">279</td>
            <td class="text-right"><i class="f-ico i-no"></i></td>
            <td class="text-right balance">17 963</td>
            <td>
              <span class="expand">
                <i class="f-ico i-chevron"></i>
              </span>
            </td>
          </tr>
          <tr class="children">
            <td>Поисковое продвижение</td>
            <td class="text-right">156</td>
            <td colspan="3"></td>
          </tr>
          <tr class="children">
            <td>Контекстная реклама</td>
            <td class="text-right">113</td>
            <td colspan="3"></td>
          </tr>
        </tbody>

        <tbody>
          <tr class="parent">
            <td>24 февраля</td>
            <td class="text-right">299</td>
            <td class="text-right"><i class="f-ico i-no"></i></td>
            <td class="text-right balance">20 143</td>
            <td>
             <span class="expand">
               <i class="f-ico i-chevron"></i>
             </span>
            </td>
          </tr>
          <tr class="children">
            <td>Поисковое продвижение</td>
            <td class="text-right">156</td>
            <td colspan="3"></td>
          </tr>
          <tr class="children">
            <td>Контекстная реклама</td>
            <td class="text-right">113</td>
            <td colspan="3"></td>
          </tr>
        </tbody>
      </table>
    </div><!-- /.table-content -->

  </div><!-- /.wrapper -->
</div><!-- /.main -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<script>
  $('table').on('click', 'tr.parent .expand', function(){
    console.log('lol');
    $(this).closest('tbody').toggleClass('open');
  });
</script>
