<div class="alert-wrapper">

  <div class="alert alert--white">
    <div class="alert__icon">
      <span><i class="f-ico i-pause red"></i></span>
    </div><!-- /.alert__icon -->
    <div class="alert__content">Ваше объявление не прошло модерацию в Яндекс.Директ <a href="" class="alert-link">Исправить</a></div><!-- /.alert__content -->
    <div class="alert__close">
      <span><i class="f-ico i-close"></i></span>
    </div><!-- /.alert__close -->
  </div><!-- /.alert -->

  <div class="alert alert--red">
    <div class="alert__icon">
      <span><i class="f-ico i-alert white"></i></span>
    </div><!-- /.alert__icon -->
    <div class="alert__content">Показ контекстных обьявлений остановлен, достигнут месячный лимит <a href="" class="alert-link">Продолжить показы</a></div><!-- /.alert__content -->
    <div class="alert__close">
      <span><i class="f-ico i-close white"></i></span>
    </div><!-- /.alert__close -->
  </div><!-- /.alert -->

  <div class="alert alert--orange">
    <div class="alert__icon">
      <span><i class="f-ico i-recommendation white"></i></span>
    </div><!-- /.alert__icon -->
    <div class="alert__content">Реклама остановится через № дней <a href="" class="alert-link">Продолжить показы</a></div><!-- /.alert__content -->
    <div class="alert__close">
      <span><i class="f-ico i-close white"></i></span>
    </div><!-- /.alert__close -->
  </div><!-- /.alert -->

  <div class="alert alert--blue">
    <div class="alert__icon">
      <span><i class="f-ico i-info white"></i></span>
    </div><!-- /.alert__icon -->
    <div class="alert__content">В течении суток начнут закупаться ссылки и будут определены текущие позиции сайта в поисковых системах. <br>В тчении 4-8 часов объявления появятся на поиске. Идёт активация кампании, объявления отправлены на модерацию.</div><!-- /.alert__content -->
    <div class="alert__close">
      <span><i class="f-ico i-close white"></i></span>
    </div><!-- /.alert__close -->
  </div><!-- /.alert -->

  <div class="alert alert--red">
    <div class="alert__icon">
      <span><i class="f-ico i-alert white"></i></span>
    </div><!-- /.alert__icon -->
    <div class="alert__content">
      Остановлено из-за нехватки средств <a href="" class="alert-link">Пополнить счёт</a>
      <div class="alert__content-more">Поисковое продивжение: 5 слов <br>Контекстная реклама: 17 слов</div></div><!-- /.alert__content -->
    <div class="alert__expand">
      <span><i class="f-ico i-chevron white"></i></span>
    </div><!-- /.alert__close -->
  </div><!-- /.alert -->

</div><!-- /.alert-wrapper -->

<div class="toast">
  <div class="toast_wrap">
    <div class="toast_content"><span>Пару слов для уведомления <a href="">Понятно</a></span></div><!-- /.toast_content -->
    <div class="toast_close">✕</div>
  </div><!-- /.toast_wrap -->
</div><!-- /.toast -->

<script>
  $('.alert__close').click(function(){
    $(this).parent('.alert').fadeOut('300');
  });

  $('.toast_close').click(function(){
    $(this).parent('.toast_wrap').fadeOut('300');
  });

  $('.alert__expand').click(function(){
    $(this).parent('.alert').toggleClass('expand');
    $('.alert__content-more').toggleClass('open');
  });
</script>
