<div class="popup popup--payment-method mfp-hide" id="payment-method">
  <div class="popup-header">
    <div class="close _mfp-close">
      <span class="close_icon" aria-hidden="true"><i class="f-ico i-close"></i></span>
    </div><!-- /.close -->
    <h2>Выберите способ оплаты</h2>
  </div><!-- /.popup-header-->

  <div class="payment-method">

    <div class="payment-method__body">

      <div class="payment-method__list">

        <div class="payment-method__item">
          <div class="payment-method__type">
            <div class="payment-method__logo payment-method__logo--moneyyandex">
              <span><include src="../../../images/payment/moneyyandex.svg"></include></span>
            </div><!-- /.payment-method__logo -->
            <div class="payment-method__name">
              <span>Яндекс.Деньги</span>
            </div><!-- /.payment-method__name -->
            <div class="payment-method__commission">
              <span>комиссия 5%</span>
            </div><!-- /.payment-method__commission -->
          </div><!-- /.payment-method__type -->
        </div><!-- /.payment-method__item -->

        <div class="payment-method__item">
          <div class="payment-method__type">
            <div class="payment-method__logo">
              <span><include src="../../../images/payment/webmoney.svg"></include></span>
            </div><!-- /.payment-method__logo -->
            <div class="payment-method__name">
              <span>Webmoney</span>
            </div><!-- /.payment-method__name -->
            <div class="payment-method__commission">
              <span>комиссия 2%</span>
            </div><!-- /.payment-method__commission -->
          </div><!-- /.payment-method__type -->
        </div><!-- /.payment-method__item -->

        <div class="payment-method__item">
          <div class="payment-method__type">
            <div class="payment-method__logo">
              <span><include src="../../../images/payment/qiwi.svg"></include></span>
            </div><!-- /.payment-method__logo -->
            <div class="payment-method__name">
              <span>Qiwi</span>
            </div><!-- /.payment-method__name -->
            <div class="payment-method__commission">
              <span>комиссия 5%</span>
            </div><!-- /.payment-method__commission -->
          </div><!-- /.payment-method__type -->
        </div><!-- /.payment-method__item -->

        <div class="payment-method__item">
          <div class="payment-method__type">
            <div class="payment-method__logo">
              <span><include src="../../../images/payment/bank-card.svg"></include></span>
            </div><!-- /.payment-method__logo -->
            <div class="payment-method__name">
              <span>Банковская карта</span>
            </div><!-- /.payment-method__name -->
            <div class="payment-method__commission">
              <span>комиссия 7%</span>
            </div><!-- /.payment-method__commission -->
          </div><!-- /.payment-method__type -->
        </div><!-- /.payment-method__item -->

        <div class="payment-method__item">
          <div class="payment-method__type">
            <div class="payment-method__logo">
              <span><include src="../../../images/payment/terminal.svg"></include></span>
            </div><!-- /.payment-method__logo -->
            <div class="payment-method__name">
              <span>Терминал</span>
            </div><!-- /.payment-method__name -->
            <div class="payment-method__commission">
              <span>комиссия 5%</span>
            </div><!-- /.payment-method__commission -->
          </div><!-- /.payment-method__type -->
        </div><!-- /.payment-method__item -->

      </div><!-- /.payment-method__list -->

    </div><!-- /.payment-method__body -->
  </div><!-- /.payment-method -->

</div><!-- /.popup -->
