<div class="popup popup--content popup--shadow mfp-hide" id="popup-content" style="max-width: 720px;">
  <div class="popup-header">
    <div class="close _mfp-close">
      <span class="close_icon" aria-hidden="true"><i class="f-ico i-close dark"></i></span>
    </div><!-- /.close -->
    <h2>Прочтите, пожалуйста:</h2>
  </div><!-- /.popup-header -->
  <div class="popup-body popup-body__wrap">
    <div class="popup-body-content">
      <p>Сначала необходимо зайти в «Проекты в системе», далее рядом с названием проекта, которое вы хотите поменять, кликаете ссылку «ПРОФИЛЬ». В открывшемся окне можно сменить название проекта. После внесения изменений не забудьте «СОХРАНИТЬ». Обращаем ваше внимание, что при смене названия проекта его сортировка не меняется. </p>
      <p>1. Откройте пункт меню «Проекты в системе» (располагается в левой части сайта)</p>
      <p class="center"><img src="https://seopult.ru/uploads/Image/pereim1.jpg" alt=""></p>
      <p>2. Откроется список проектов, рядом с каждым названием проекта есть ссылка «профиль». Откройте профиль нужного проекта.</p>
      <p class="center"><img src="https://seopult.ru/uploads/Image/per3(2).jpg" alt=""></p>
      <p>3. В открывшемся окне найдите поле «Название сайта», в этом поле впишите новое название проекта;</p>
      <p class="center"><img src="https://seopult.ru/uploads/Image/pereim2.jpg" alt=""></p>
      <p>Обращаем ваше внимание, что при смене названия проекта его позиция по отношению к другим проектам в системе (если они есть) не меняется.</p>
    </div>
  </div><!-- /.popup-body -->
  <div class="popup-footer">
    <div class="form-actions">
      <div class="form-actions_left">
        <div class="btn btn-blue">Сохранить</div>
        <div class="btn btn-outline-white">Не сохранять</div>
      </div>
      <div class="form-actions_right">
        <div class="btn btn-outline-white">ЧаВо? о_О</div>
      </div>
    </div>
  </div>
</div>

<div class="popup popup--content mfp-hide" id="popup-content1">
  <div class="popup-header">
    <div class="close _mfp-close">
      <span class="close_icon" aria-hidden="true"><i class="f-ico i-close dark"></i></span>
    </div><!-- /.close -->
    <h2>Внимание! Вы внимательны?</h2>
  </div><!-- /.popup-header -->
  <div class="popup-body">
    <div class="popup-body_text">
      <p>Да, я внимателен. А кто спрашивает?</p>
    </div>
  </div><!-- /.popup-body -->
  <div class="popup-footer">
    <div class="form-actions">
      <div class="form-actions_left">
        <div class="btn btn-blue">Сохранить</div>
        <div class="btn btn-outline-white">Не сохранять</div>
      </div>
      <div class="form-actions_right">
        <a href="">Закрыть всё</a>
      </div>
    </div>
  </div>
</div>

<div class="popup popup--content mfp-hide" id="popup-content2">
  <div class="popup-header">
    <div class="close _mfp-close">
      <span class="close_icon" aria-hidden="true"><i class="f-ico i-close dark"></i></span>
    </div><!-- /.close -->
    <h2>Внимание! Вы внимательны?</h2>
  </div><!-- /.popup-header -->
  <div class="popup-body">
    <div class="popup-body_text">
      <p>Да, я внимателен. А кто спрашивает?</p>
    </div>
  </div><!-- /.popup-body -->
  <div class="popup-footer">
    <div class="form-actions">
      <div class="form-actions_left">
        <div class="btn btn-blue">Сохранить</div>
        <div class="btn btn-outline-white">Не сохранять</div>
      </div>
      <div class="form-actions_right">
        <div class="btn btn-outline-white">ЧаВо? о_О</div>
      </div>
    </div>
  </div>
</div>

<div class="popup popup--content mfp-hide" id="popup-content3">
  <div class="popup-header">
    <div class="close _mfp-close">
      <span class="close_icon" aria-hidden="true"><i class="f-ico i-close dark"></i></span>
    </div><!-- /.close -->
    <h2>Внимание! Вы внимательны?</h2>
  </div><!-- /.popup-header -->
  <div class="popup-body">
    <div class="popup-body_text">
      <p>Да, я внимателен. А кто спрашивает?</p>
    </div>
  </div><!-- /.popup-body -->
  <div class="popup-footer popup-footer--light">
    <div class="form-actions">
      <div class="form-actions_left">
        <div class="btn btn-blue">Сохранить</div>
        <div class="btn btn-outline">Не сохранять</div>
      </div>
      <div class="form-actions_right"></div>
    </div>
  </div>
</div>

<div class="popup popup--content mfp-hide" id="popup-content4">
  <div class="popup-header">
    <div class="close _mfp-close mfp-hide">
      <span class="close_icon" aria-hidden="true"><i class="f-ico i-close dark"></i></span>
    </div><!-- /.close -->
    <h2>Подождите, пожалуйста</h2>
  </div><!-- /.popup-header -->
  <div class="popup-body">
    <div class="popup-body_text">
      <p>Мы собираем список ключевых запросов</p>
    </div>
  </div><!-- /.popup-body -->
  <div class="popup-footer popup-footer--light popup-footer-mini">
    <div class="progress">
      <div class="progress-bar" style="width: 30%;"></div>
    </div>
  </div>
</div>

<div class="popup popup--content mfp-hide" id="popup-content5">
  <div class="popup-header">
    <div class="close _mfp-close">
      <span class="close_icon" aria-hidden="true"><i class="f-ico i-close dark"></i></span>
    </div><!-- /.close -->
    <h2>Внимание! Вы внимательны?</h2>
  </div><!-- /.popup-header -->
  <div class="popup-footer popup-footer--light">
    <div class="form-actions">
      <div class="form-actions_left">
        <div class="btn btn-red">Удалить</div>
        <div class="btn btn-outline">Не удалять</div>
      </div>
      <div class="form-actions_right"></div>
    </div>
  </div>
</div>
