<div class="popup popup--auth mfp-hide" id="popup-auth">
  <div class="popup-header">
    <div class="close _mfp-close">
      <span class="close_icon" aria-hidden="true"><i class="f-ico i-close dark"></i></span>
    </div><!-- /.close -->
  </div><!-- /.popup-header -->
  <div class="popup-body">
    <div class="auth">
      <div class="auth__tabs">
        <ul class="auth-tabs">
          <li class="auth-tabs__item active"><a href="#" class="auth-tabs-type">Вход</a></li>
          <li class="auth-tabs__item"><a href="#" class="auth-tabs-type">Регистрация</a></li>
        </ul>
      </div>
      <div class="auth__profile">
        <div class="auth__field">
          <div class="form-group">
            <label for="">Ваш email</label>
            <input type="mail" class="form-control" placeholder="Ваш email" required tabindex="1" autofocus>
          </div><!-- /.form-group -->
          <div class="form-group">
            <label for="">Пароль</label>
            <input type="mail" class="form-control" placeholder="Пароль" required tabindex="2">
          </div><!-- /.form-group -->
          <p><a href="" title="Если вы забыли пароль — мы поможем вспомнить" class="pseudo" tabindex="-1">Напомнить пароль</a></p>
          <div class="form-group">
            <div class="form-check">
              <input type="checkbox" name="group2" id="credit-limit">
              <label for="credit-limit">
                <span class="form-check-control">Чужой компьютер</span>
              </label>
            </div><!-- /.form-check -->
          </div><!-- /.form-group -->
          <div class="form-actions">
            <button type="submit" class="btn btn-blue btn-full disabled" tabindex="3">Войти</button>
          </div><!-- /.form-actions -->
        </div><!-- /.auth__field -->
      </div><!-- /.auth__profile -->
    </div><!-- /.auth -->
  </div><!-- /.popup-body -->

</div><!-- /.popup -->
