<div class="main">
  <div class="wrapper">

    <div class="recommendations">

      <div class="recommendations-group">
        <div class="recommendations-group_header">
          <h2>Поисковое продвижение</h2>
        </div><!-- /.recommendations-group_header -->
        <div class="recommendation">
          <div class="recommendations-box">
            <div class="recommendations__icon">
              <span><i class="f-ico i-settings gray"></i></span>
            </div><!-- /.recommendations__icon -->
            <div class="recommendations__header">
              <div class="recommendations__name">
                <span>Подключите счётчики для отслеживания статистики</span>
              </div><!-- /.recommendations__name -->
              <p>Тут нужно написать что мы не сможем отслеживать эффективность</p>
            </div><!-- /.recommendations__header -->
            <div class="recommendations__status">
              <div class="block-btn">
                <a href="#" class="btn btn-outline">Настроить</a>
              </div>
            </div><!-- /.recommendations__status -->
          </div><!-- /.recommendations-box -->
          <div class="recommendations__content"></div><!-- /.recommendations__content -->
        </div><!-- /.recommendation -->

        <div class="recommendation">
          <div class="recommendations-box">
            <div class="recommendations__icon">
              <span><i class="f-ico i-settings gray"></i></span>
            </div><!-- /.recommendations__icon -->
            <div class="recommendations__header">
              <div class="recommendations__name">
                <span>Настройте контактные данные вашей организации</span>
              </div><!-- /.recommendations__name -->
              <p>Тут нужно написать для чего это требуется</p>
            </div><!-- /.recommendations__header -->
            <div class="recommendations__status">
              <div class="block-btn">
                <a href="#" class="btn btn-outline">Настроить</a>
              </div>
            </div><!-- /.recommendations__status -->
          </div><!-- /.recommendations-box -->
          <div class="recommendations__content"></div><!-- /.recommendations__content -->
        </div><!-- /.recommendation -->

        <div class="recommendation">
          <div class="recommendations-box">
            <div class="recommendations__icon recommendations__icon--red">
              <span><i class="f-ico i-pause red"></i></span>
            </div><!-- /.recommendations__icon -->
            <div class="recommendations__header">
              <div class="recommendations__name">
                <span>У Вас есть 3 рекламных объявления которые не прошли модерацию вы упускаете 678 потенциальных посетителей</span>
              </div><!-- /.recommendations__name -->
              <p>Тут нужно написать откуда такие данные</p>
            </div><!-- /.recommendations__header -->
            <div class="recommendations__status">
              <span><i class="f-ico i-chevron"></i></span>
            </div><!-- /.recommendations__status -->
          </div><!-- /.recommendations-box -->
          <div class="recommendations__content"></div><!-- /.recommendations__content -->
        </div><!-- /.recommendation -->

        <div class="recommendations-group_more">
          <a href="" class="recommendations-more-link">Показать ещё</a>
        </div><!-- /.recommendations-group_more -->
      </div><!-- /.recommendations-group -->

      <div class="recommendations-group">
        <div class="recommendations-group_header">
          <h2>Контекстная реклама Яндекс</h2>
        </div><!-- /.recommendations-group_header -->

        <div class="recommendation">
          <div class="recommendations-box">
            <div class="recommendations__icon">
              <span><i class="f-ico i-settings gray"></i></span>
            </div><!-- /.recommendations__icon -->
            <div class="recommendations__header">
              <div class="recommendations__name">
                <span>Подключите счётчики для отслеживания статистики</span>
              </div><!-- /.recommendations__name -->
              <p>Тут нужно написать что мы не сможем отслеживать эффективность</p>
            </div><!-- /.recommendations__header -->
            <div class="recommendations__status">
              <div class="block-btn">
                <a href="#" class="btn btn-outline">Настроить</a>
              </div>
            </div><!-- /.recommendations__status -->
          </div><!-- /.recommendations-box -->
          <div class="recommendations__content"></div><!-- /.recommendations__content -->
        </div><!-- /.recommendation -->

        <div class="recommendation">
          <div class="recommendations-box">
            <div class="recommendations__icon">
              <span><i class="f-ico i-settings gray"></i></span>
            </div><!-- /.recommendations__icon -->
            <div class="recommendations__header">
              <div class="recommendations__name">
                <span>Настройте контактные данные вашей организации</span>
              </div><!-- /.recommendations__name -->
              <p>Тут нужно написать для чего это требуется</p>
            </div><!-- /.recommendations__header -->
            <div class="recommendations__status">
              <div class="block-btn">
                <a href="#" class="btn btn-outline">Настроить</a>
              </div>
            </div><!-- /.recommendations__status -->
          </div><!-- /.recommendations-box -->
        </div><!-- /.recommendation -->

        <div class="recommendation">
          <div class="recommendations-box">
            <div class="recommendations__icon recommendations__icon--red">
              <span><i class="f-ico i-pause red"></i></span>
            </div><!-- /.recommendations__icon -->
            <div class="recommendations__header">
              <div class="recommendations__name">
                <span>У Вас есть 3 рекламных объявления которые не прошли модерацию вы упускаете 678 потенциальных посетителей</span>
              </div><!-- /.recommendations__name -->
              <p>Тут нужно написать откуда такие данные</p>
            </div><!-- /.recommendations__header -->
            <div class="recommendations__status">
              <span><i class="f-ico i-chevron"></i></span>
            </div><!-- /.recommendations__status -->
          </div><!-- /.recommendations-box -->
          <div class="recommendations__content"></div><!-- /.recommendations__content -->
        </div><!-- /.recommendation -->

        <div class="recommendation expand">
          <div class="recommendations-box">
            <div class="recommendations__icon recommendations__icon--orange">
              <span><i class="f-ico i-recommendation orange"></i></span>
            </div><!-- /.recommendations__icon -->
            <div class="recommendations__header">
              <div class="recommendations__name">
                <span>Вы можете усилить свои позиции по текущим словам и привлекать за месяц на 5 896 посетителей больше</span>
              </div><!-- /.recommendations__name -->
              <p>Тут нужно написать откуда такие данные</p>
            </div><!-- /.recommendations__header -->
            <div class="recommendations__status">
              <span><i class="f-ico i-chevron"></i></span>
            </div><!-- /.recommendations__status -->
          </div><!-- /.recommendations-box -->
          <div class="recommendations__content">
            <div class="row">
              <div class="col-xs">
                <div class="counter-box" style="margin-top: 5px;">
                  <div class="counter-box__logo">
                    <include src="../../../images/svg/metrika.svg"></include>
                  </div><!-- /.counter-box__logo -->
                  <div class="counter-box__btn">
                    <a href="#" class="btn btn-outline disabled">Подключено</a>
                    <a href="#" class="close-link"><span class="close_icon" aria-hidden="true"><i class="f-ico i-close dark"></i></span> Отключить</a>
                  </div><!-- /.counter-box__btn -->
                </div><!-- /.counter-box -->
              </div>
              <div class="col-xs">
                <div class="counter-box" style="margin-top: 5px;">
                  <div class="counter-box__logo">
                    <include src="../../../images/svg/googleanalytics.svg"></include>
                  </div><!-- /.counter-box__logo -->
                  <div class="counter-box__btn">
                    <a href="#" class="btn btn-outline">Подключить</a>
                  </div><!-- /.counter-box__btn -->
                </div><!-- /.counter-box -->
              </div>
            </div>
          </div><!-- /.recommendations__content -->
        </div><!-- /.recommendation -->

        <div class="recommendation">
          <div class="recommendations-box">
            <div class="recommendations__icon recommendations__icon--green">
              <span><i class="f-ico i-loupe green"></i></span>
            </div><!-- /.recommendations__icon -->
            <div class="recommendations__header">
              <div class="recommendations__name">
                <span>Вы можете увеличить охват аудитории запустив 5 новых слов и привлекать за месяц на 9 783 посетителей больше</span>
              </div><!-- /.recommendations__name -->
              <p>Тут нужно написать откуда такие данные</p>
            </div><!-- /.recommendations__header -->
            <div class="recommendations__status">
              <span><i class="f-ico i-chevron"></i></span>
            </div><!-- /.recommendations__status -->
          </div><!-- /.recommendations-box -->
          <div class="recommendations__content"></div><!-- /.recommendations__content -->
        </div><!-- /.recommendation -->
      </div><!-- /.recommendations-group -->

      <div class="recommendation">
        <div class="recommendations-box">
          <div class="recommendations__icon recommendations__icon--red">
            <span><i class="f-ico i-pause red"></i></span>
          </div><!-- /.recommendations__icon -->
          <div class="recommendations__header">
            <div class="recommendations__name">
              <span>У Вас есть 3 рекламных объявления которые не прошли модерацию вы упускаете 678 потенциальных посетителей</span>
            </div><!-- /.recommendations__name -->
            <p>Тут нужно написать откуда такие данные</p>
          </div><!-- /.recommendations__header -->
          <div class="recommendations__status">
            <div class="block-btn">
              <a href="#" class="btn btn-blue">Настроить</a>
            </div>
          </div><!-- /.recommendations__status -->
        </div><!-- /.recommendations-box -->
        <div class="recommendations__content"></div><!-- /.recommendations__content -->
      </div><!-- /.recommendation -->

      <div class="recommendations-group">
        <div class="recommendations-group_header">
          <h2>Общие рекомендации по системе</h2>
        </div><!-- /.recommendations-group_header -->

        <div class="recommendation">
          <div class="recommendations-box">
            <div class="recommendations__icon recommendations__icon--orange">
              <span><i class="f-ico i-recommendation orange"></i></span>
            </div><!-- /.recommendations__icon -->
            <div class="recommendations__header">
              <div class="recommendations__name">
                <span>Вы можете усилить свои позиции по текущим словам и привлекать за месяц на 5 896 посетителей больше</span>
              </div><!-- /.recommendations__name -->
              <p>Тут нужно написать откуда такие данные</p>
            </div><!-- /.recommendations__header -->
            <div class="recommendations__status">
              <span><i class="f-ico i-chevron"></i></span>
            </div><!-- /.recommendations__status -->
          </div><!-- /.recommendations-box -->
          <div class="recommendations__content"></div><!-- /.recommendations__content -->
        </div><!-- /.recommendation -->
      </div><!-- /.recommendations-group -->

    </div><!-- /.recommendations -->

  </div><!-- /.wrapper -->
</div><!-- /.main -->
