<div class="main">
  <div class="wrapper">
    <div class="content">
      <h2>Служба поддержки</h2>
    </div>

    <div class="support-page">

      <form action="" class="support-form">

        <div class="support-subject">
          <div class="row">
            <div class="col-xs-4">
              <div class="form-group">
                <label for="">Выберите тему вопроса</label>
                <div class="select select-support-subject">
                  <select class="form-control">
                    <option value="1">Техническая поддержка</option>
                    <option value="2">Финансовый отдел</option>
                    <option value="3">Наполнение сайта</option>
                    <option value="4">Персональный менеджер</option>
                    <option value="5">Контекстная реклама</option>
                    <option value="7">Статейное продвижение</option>
                    <option value="8">Трафиковое продвижение</option>
                    <option value="9">Контент-маркетинг</option>
                  </select>
                </div><!-- /.select -->
              </div><!-- /.form-group -->
            </div>
          </div>
          <div class="form-group">
            <label for="">Попробуйте найти ответ в часто задаваемых вопросах</label>
            <ul class="faq-list" id="">
              <li class="faq-list__item"><a href="" class="faq-list__link">Почему долго идут деньги на счёт?</a></li>
              <li class="faq-list__item"><a href="" class="faq-list__link">Что произойдет при истечении средств на
                счёте?</a></li>
              <li class="faq-list__item"><a href="" class="faq-list__link">Как можно вывести средства с счёта?</a></li>
            </ul>
          </div><!-- /.form-group -->
          <div class="form-group form-group--border">
            <label for="">Не нашли ответа? Задайте свой вопрос</label>
            <input type="text" class="form-control" placeholder="Кратко опишите проблему">
          </div><!-- /.form-group -->
          <div class="form-group">
            <textarea class="form-control" id="commentnew" rows="4" placeholder="Подробное описание"></textarea>
          </div><!-- /.form-group -->
          <div class="form-actions">
            <button type="submit" class="btn btn-blue">Отправить</button>
            <div class="form-inline">
              <input type="file" name="file-3[]" id="file-3" class="inputfile inputfile-3" data-multiple-caption="{count} файла будет загружено" multiple />
              <label for="file-3">
                <span class="attach-icon"><i class="f-ico i-attach"></i></span>
                <span>Прикрепить фаил&hellip;</span>
              </label>
            </div><!-- /.form-inline -->
          </div><!-- /.form-actions -->
        </div>

      </form>

      <div class="messages">

        <div class="messages__item">
          <div class="messages-box">
            <div class="messages_icon">
              <span><i class="f-ico i-message gray"></i></span>
            </div><!-- /.messages_icon -->
            <div class="messages__description">
              <div class="messages_title">
                <div class="messages_name">Не работают SEO ссылки</div>
                <div class="messages_status">2 новых сообщения</div><!-- /.messages_status -->
              </div><!-- /.messages_title -->
              <div class="messages_date"><span>Сегодня в 13:47</span></div><!-- /.messages_date -->
              <div class="messages_content">
                <span class="messages_content-author">Поддержка:</span> <span>У получающих жизнь из вторых рук нет чувства реальности. Их реальность не в них, а где-то в пространстве, которое...</span>
              </div><!-- /.messages_content -->
            </div><!-- /.messages__description -->
          </div><!-- /.messages-box -->
        </div><!-- /.messages__item -->

        <div class="messages__item">
          <div class="messages-box">
            <div class="messages_icon">
              <span><i class="f-ico i-message gray"></i></span>
            </div><!-- /.messages_icon -->
            <div class="messages__description">
              <div class="messages_title">
                <div class="messages_name">Долго идут деньги на счёт</div>
              </div><!-- /.messages_title -->
              <div class="messages_date"><span>25 марта 10:45</span></div><!-- /.messages_date -->
              <div class="messages_content">
                <span class="messages_content-author">Вы:</span> <span>Я выбрал дело, которое хочу делать, и если не найду в нём радости для себя, то только приговорю себя к шестидесяти годам...</span>
              </div><!-- /.messages_content -->
            </div><!-- /.messages__description -->
          </div><!-- /.messages-box -->
        </div><!-- /.messages__item -->

        <div class="messages__item">
          <div class="messages-box">
            <div class="messages_icon">
              <span><i class="f-ico i-message gray"></i></span>
            </div><!-- /.messages_icon -->
            <div class="messages__description">
              <div class="messages_title">
                <div class="messages_name">Долго идут деньги на счёт</div>
              </div><!-- /.messages_title -->
              <div class="messages_date"><span>15 марта 10:45</span></div><!-- /.messages_date -->
              <div class="messages_content">
                <span class="messages_content-author">Вы:</span> <span>Я выбрал дело, которое хочу делать, и если не найду в нём радости для себя, то только приговорю себя к шестидесяти годам...</span>
              </div><!-- /.messages_content -->
            </div><!-- /.messages__description -->
          </div><!-- /.messages-box -->
        </div><!-- /.messages__item -->

      </div><!-- /.messages -->

    </div><!-- /.content -->
  </div><!-- /.wrapper -->
</div><!-- /.main -->
