<div class="main">
  <div class="wrapper">
    <div class="content">
      <h2>Не работают SEO ссылки</h2>
    </div>

    <div class="support-page">

      <form action="" class="support-form">
        <div class="form-group form-group--border">
          <textarea class="form-control" id="commentnew" rows="5" placeholder="Ваше сообщение"></textarea>
        </div><!-- /.form-group -->
        <div class="form-actions">
          <button type="submit" class="btn btn-blue">Отправить</button>
          <div class="form-inline">
            <input type="file" name="file-3[]" id="file-3" class="inputfile inputfile-3" data-multiple-caption="{count} файла будет загружено" multiple />
            <label for="file-3">
              <span class="attach-icon"><i class="f-ico i-attach"></i></span>
              <span>Прикрепить фаил&hellip;</span>
            </label>
          </div><!-- /.form-inline -->
        </div><!-- /.form-actions -->
      </form>

      <div class="support-dialogs">

        <div class="support-dialogs__item">

          <div class="support-dialog">
            <div class="userpic">
              <div class="userpic-box">
                <span><i class="f-ico i-lifevest"></i></span>
              </div><!-- /.userpic-box -->
            </div><!-- /.userpic -->
            <div class="dialog-message">
              <div class="dialog-message__text">Ты влюблён в своё ремесло. Господь тебя спаси, ты влюблён! А это проклятье. Это клеймо на лбу, выставленное на всеобщее обозрение. Ты не можешь жить без своей работы, и они об этом знают, и ещё знают, что тут-то ты и попался! Ты когда-нибудь приглядывался к людям на улице? Я приглядывался. Они проходят мимо тебя, все в шляпах, со свёртками… Но не в этом их суть. А суть их в том, что они ненавидят каждого, кто влюблён в своё ремесло. Более того, они их боятся, уж не знаю почему. Ты им подставляешься, Рорк, всем и каждому!</div><!-- /.dialog-text -->
              <div class="dialog-message__date"><span>25 марта 13:47</span></div><!-- /.dialog-date -->
            </div><!-- /.dialog-message -->
          </div><!-- /.support-dialog -->

        </div><!-- /.support-dialogs__item -->

        <div class="support-dialogs__item">

          <div class="support-dialog support-dialog--user">
            <div class="userpic">
              <div class="userpic-box">
                <span><i class="f-ico i-lifevest"></i></span>
              </div><!-- /.userpic-box -->
            </div><!-- /.userpic -->
            <div class="dialog-message dialog-message--user">
              <div class="dialog-message__text">Ты влюблён в своё ремесло. Господь тебя спаси, ты влюблён! А это проклятье. Это клеймо на лбу, выставленное на всеобщее обозрение. Ты не можешь жить без своей работы, и они об этом знают, и ещё знают, что тут-то ты и попался! Ты когда-нибудь приглядывался к людям на улице? Я приглядывался. Они проходят мимо тебя, все в шляпах, со свёртками… Но не в этом их суть. А суть их в том, что они ненавидят каждого, кто влюблён в своё ремесло. Более того, они их боятся, уж не знаю почему. Ты им подставляешься, Рорк, всем и каждому!</div><!-- /.dialog-text -->
              <div class="dialog-message__attachment">
                <div class="attachment">
                  <div class="attachment-box">
                    <a href="#" target="_blank" title="Откроется в новом окне">
                      <img src="assets/images/support/support3-demo1.png" alt="">
                    </a>
                  </div>
                  <div class="attachment-box">
                    <a href="#" target="_blank" title="Откроется в новом окне">
                      <img src="assets/images/support/support3-demo2.png" alt="">
                    </a>
                  </div>
                </div><!-- /.attachment -->
              </div><!-- /.dialog-message__attachment -->
              <div class="dialog-message__date"><span>25 марта 13:47</span></div><!-- /.dialog-date -->
            </div><!-- /.dialog-message -->
          </div><!-- /.support-dialog -->

        </div><!-- /.support-dialogs__item -->


        <div class="support-dialogs__item">

          <div class="support-dialog">
            <div class="userpic">
              <div class="userpic-box">
                <span><i class="f-ico i-lifevest"></i></span>
              </div><!-- /.userpic-box -->
            </div><!-- /.userpic -->
            <div class="dialog-message">
              <div class="dialog-message__text">У получающих жизнь из вторых рук нет чувства реальности. Их реальность не в них, а где-то в пространстве, которое разделяет человеческие тела. Они существуют не как реальное нечто, а как соотношение между ничто и ничто.</div><!-- /.dialog-text -->
              <div class="dialog-message__date"><span>25 марта 13:47</span></div><!-- /.dialog-date -->
            </div><!-- /.dialog-message -->
          </div><!-- /.support-dialog -->

        </div><!-- /.support-dialogs__item -->

      </div><!-- /.support-dialogs -->

    </div><!-- /.content -->
  </div><!-- /.wrapper -->
</div><!-- /.main -->
<script src="assets/scripts/scripts.js"></script>
